[2018-03-19 04:12] kmova opened #5 "Add developer documentation"
- code of conduct
- contributing guide

[2018-03-20 19:59] kmova opened #7 "Implement node-disk-manager DaemonSet"
node-disk-manager should be run as DaemonSet within a Kubernetes Cluster. The user should be able to specify the nodes on which the node-disk-manager is required to run - potentially dedicating some nodes to storage.

The task is to produce an K8s YAML file.

[2018-03-20 20:09] kmova opened #8 "Setup Travis CI that builds and creates docker image"
Example of travis and docker image creation are here:
* The older implementation of node-bot contains the makefile and docker file changes from @gkGaneshR (please use this as a reference)
* Also some examples from the https://github.com/openebs/maya for building maya-apiserver or m-exporter can be looked at.

[2018-03-20 20:20] kmova opened #9 "Implement /metrics endpoint in node-disk-manager"
Implement the default metrics listed below which will be later expanded with some storage specific metrics:
* uptime
* number of add, delete, update disk requests processed

Checkout the openebs/maya/cmd/m-apiserver code for reference on instrumenting the node-disk-manager

[2018-03-20 20:37] kmova opened #10 "push discovered disks as Disk custom resources"
As part of the node-disk-manager startup, the ndm should discover the local devices (disks) attached to the node and push them into the Kubernetes as CRs, if they are not already present.

[2018-03-21 04:35] kmova opened #11 "Implement handlers for storagepoolclaim (SPC) events"
node-disk-manager (ndm) custom controller has to watch for the SPC requests. This will be an initial implementation that takes into account the  following:
- add, update, delete handlers on the SPC object should be implemented
- consider the scenarios of SPC objects getting created when the node-disk-manager is not yet running (either not started or is restarting)
- follow the best practices aroun

[2018-03-21 04:48] kmova opened #12 "Implement creation of storagepool (SP) of type=ext4"
In response to a StoragePoolClaim (SPC) with type=ext4, **_ndm_** will have to check for the Disks on the node where it is running and if the conditions mentioned in the SPC are satisfied, the ndm will have to:
- Identify a disk that matches the criteria mentioned in the SPC
- Format the disk with ext4
- Mount it in the specified location
- Create a StoragePool (SP) custom resource, tie it with th

[2018-03-21 05:00] gkGaneshR commented on #12
User need to enable mount propogation flag, only then mounting from within container will be visible outside. Minikube offers that flag to be setup while starting cluster. kubeadm is not yet providing that feature. We can't change it dynamically while the cluster is running else it'll crash the cluster, owing to liveness probe and readiness probe mismatch. ndm can't handle this until now.

[2018-03-21 05:28] kmova opened #13 "Add disk event detection plugin's to node-problem-detector"
[node-problem-detector](https://github.com/kubernetes/node-problem-detector) is a generic component running in the Kubernetes Cluster that has plugin mechanism to watch for disk-related events. Explore adding new plugins to node-problem-detector for handling disk related events that are exposed from the kernel.

Refer some initial work done here: https://github.com/openebs/openebs/issues/1180

[2018-03-21 05:33] kmova opened #14 "Receive events from node-problem-detector"
Related to #13

**_ndm_** should be configured to receive events from node-problem-detector. Any events that impact the disk subsystem should be handled and passed on for processing like notifying pool listeners or exposing the status parameters on the disks etc.,

[2018-03-21 06:38] kmova opened #15 "Update the README of node-disk-manager with usage instructions"
This issue is to track the update of the main README with usage instructions as and when they get ready. Check the https://github.com/kubernetes/node-problem-detector for some inspiration.

[2018-03-21 13:28] kmova opened #16 "ndm should support dynamically attaching external disks to k8s nodes."
Feature Request:

Example Usecase: Let us say Kubernetes Cluster is running in Amazon Cloud. As the Stateful workloads increase in number or there is an increase in data/capacity usage, **_ndm_** should provide an option to increase the storage available on the local nodes, triggering a provisioning of an EBS Disk and attaching to the Kubernetes node.

[2018-03-21 13:33] kmova opened #17 "ndm should be able to connect to iSCSI volumes from external storage"
Feature Request:

Related to #16. In certain deployment scenarios, there could be already storage service available that expose volumes via iSCSI. _**ndm**_ should be able to connect to these remove iSCSI volumes and attach them to Kubernetes Nodes. These iSCSI disks can then be used for creating Storage Pools or hostDir volumes.

As an extended usecase, in case of nodes that fail and can't be rec

[2018-03-26 16:52] #7 closed

[2018-03-27 19:10] pawanpraka1 opened #26 "setup test suite for Node-disk-manager"

[2018-03-28 14:24] kmova opened #27 "Fetch disk attributes from underlying disks and save them on disk objects"
The initial implementation of the disk objects in #25, is fetching the following information:
- capacity
- serial number
- model
- vendor

The above details are fetched via lsblk command.

But there are several other attributes that need to be obtained (originally discussed as part of https://github.com/openebs/openebs/issues/545)

Static Attributes:
* physical location (ie enclosure slot number)

[2018-03-28 14:29] gila commented on #27
If we use a generic interface (e.g SGIO) you can do all the above and ditch lsblk or any external binary as the SGIO interface is a raw ioctl interface which maps nicely to golang.

[2018-03-28 14:44] kmova opened #28 "Add disk status related metrics fetched via SCSI commands"
There are some dynamic status parameters that determine the health of the underlying disks like:
- status (faulted, normal)
- temperator
- fan speed
- crc errors
- medium errors

This tasks involves investigating the the details that need to be monitored and added them as metrics to prometheus.

[2018-03-28 14:51] kmova opened #29 "Support disk usage metrics in node-disk-manager"
The following metrics should be available to be seen per disk object in prometheus:

- Reads
- Writes
- Read Size
- Write Size
- Read Latency
- Write Latency
- Average Read Block Size
- Average Write Block Size

Also, need to look at tools like "iostat" for a reference of parameters that can be exported.

[2018-03-29 11:51] pawanpraka1 opened #30 "Add integration tests using minikube for node-disk-manager"
Automate the test performed to validate PR https://github.com/openebs/node-disk-manager/pull/20

- Runs minikube with this command: `sudo minikube start --vm-driver=none --feature-gates=MountPropagation=true`
- In YAML changes value of `image` to match with newly built image and `imagePullPolicy` to `IfNotPresent`.
- Apply the YAML
- Check pod description and log.
- Runs `lsblk` and `ndm` in both

[2018-03-30 17:15] #8 closed

[2018-04-03 05:57] ShovanMaity commented on #29
1. [Node-exporter](https://github.com/prometheus/node_exporter) read system file like `/proc/diskstats` this file contains some information of disk.
[code]
We can generate metrics of iostat from there. More info about content of that file [link1](https://www.kernel.org/doc/Documentation/iostats.txt) ,[link2](https://www.kernel.org/doc/Documentation/ABI/testing/procfs-diskstats)
Node exporter have

[2018-04-03 06:40] sagarkrsd commented on #13
**Node Problem Detector**

- It aims to make various node problems visible to the upstream layers in cluster management stack.
- It is a daemon which runs on each node , detects node problems and report them to apiserver.

It can run as -
- DaemonSet and
- standalone
For now, it is running as a kubernetes Addon enabled by default in the GCE cluster.

**NPD** uses **Event** and **NodeCondition** to

[2018-04-03 08:55] ShovanMaity commented on #29
2. [Cadviser](https://github.com/google/cadvisor) It expose stats at /metrics endpoint but there is no partition level stats. If there is one disk named sda with multiple partition (sda1,sda2,sda3...) It will show only stat of sda

[2018-04-04 10:43] shovanmaity opened #33 "node-disk-manager make file delete all binary at $GOPATH/bin for make in local machine."
[code]
This code will delete all binary present in go path as NODE_DISK_MANAGER not exported as env variable(For local setup.).

[2018-04-05 10:35] kmova commented on #29
Is there any overlap with kube-state-metrics?

[2018-04-06 08:28] ShovanMaity commented on #29
Implementation details :
`/proc/diskstats` file provide us with details of disks
`8       0 sda 28987 5911 2163548 1947012 11137 17181 699690 269512 0 182512 2216872`
this is content of a single line of `/proc/diskstats` file.
[code]

For Read and Write Latency
[code]
For Average Read/Write Block Size
[code]

[2018-04-09 18:29] pawanpraka1 opened #35 "add code coverage report for node-disk-manager"
While running the travis build we are doing some UT and e2e testing. We want to see the code coverage report to know how much part of it we are covering as a part of out testing framework.

[2018-04-09 18:43] pawanpraka1 opened #36 "remove dependency on lsblk command to get the disk related info."
The current implementation of node-disk-manager depends on the lsblk command to get the disk related info. It takes those info from the lsblk command and pushes them to the etcd. We should identify those info directly from the system, instead of forking and execing the lsblk command and parsing the output.

One way to do this is, read the /sys/block/ entries and get the details. Sample code to get

[2018-04-13 09:38] AmitKumarDas opened #39 "how is ndm different from kubernetes dynamic storage provisioners e.g. GPD based provisioner"
I would like to know the difference between ndm & dynamic storage provisioner like `kubernetes.io/gce-pd` Is ndm not required if I use `kubernetes.io/gce-pd`

[2018-04-16 06:48] a4abhishek opened #41 "Travis VM (with `xenial`) hangs when minikube is started."
Travis VM hangs when I start minikube and after 10 minutes travis eventually kills the job.

### Steps to reproduce
- Use xenial distro.
- Do a minikube start
  I used this command: `sudo minikube start --vm-driver=none --kubernetes-version=v1.9.0 --feature-gates=MountPropagation=true`

### Specifications
Distro: xenial
sudo: required
minikube version: 0.25.0 and 0.26.0
kubectl version: 1.8.0, 1.9

[2018-04-25 10:59] shovanmaity opened #42 "Node Disk Manager integration with Node Problem Detector for disks problems monitoring"
Design document of NDM integration with NPD for disks problems like disk attach or detach etc.

[2018-04-25 11:03] ShovanMaity commented on #42
You can find initial design document [here](https://docs.google.com/document/d/1oaaKGT4SW9RfaR4ze_TiIyIGhmPILF7iH9-wRmiSc-A) feel free to suggest changes.

[2018-04-25 11:05] a4abhishek opened #43 "Create design document for Integration testing of node-disk-manager"
Create a design document which covers following things
- Setting up the environment.
- Pros/Cons of available framework.

Also it should have some Test-cases.

[2018-04-25 11:40] a4abhishek opened #44 "Exploring golang implementation of S.M.A.R.T. which is to be used in node-disk-manager"
- Explore smartctl and its source code for relevent ioctl commands.
- Explore golang implementations for SMART.
- Select the best approach.

[2018-04-25 12:31] a4abhishek commented on #44
Projects that I expored:
1. https://github.com/mirror/smartmontools
  Pros:
    - This is the original implementation of smartctl
  Cons:
    - This is written in C++
1. https://github.com/benmcclelland/smart
  Pros:
    - It is neat and pure.
    - It uses SGIO interface.
  Cons:
    - It is in its early stage so it provides very little info about disk.
    - This is not in active development.

[2018-04-25 12:42] a4abhishek commented on #44
**From [wikipedia](https://en.wikipedia.org/wiki/S.M.A.R.T.#Accuracy) I found following:**

A field study at Google covering over 100,000 consumer-grade drives from December 2005 to August 2006 found correlations between certain S.M.A.R.T. information and actual failure rates:
- In the 60 days following the first uncorrectable error on a drive (S.M.A.R.T. attribute 0xC6 or 198) detected as a resul

[2018-04-25 12:59] ShovanMaity commented on #29
Currently this issue related PR is blocked on integration testting. Functionality and Unit test case are there in pr (#34)

[2018-05-02 11:05] sagarkrsd commented on #44
Among the above mentioned projects, the most promising and under active development without exec to smartctl binary are the following

1.  https://github.com/mirror/smartmontools
- Pros:
     - `This is the original implementation of smartctl`
- Cons:
     - `This is written in C++`

**_Output for smart information -_**
[code]

2.  https://github.com/dswarbrick/smart
- Pros:
     - `Under active d

[2018-05-06 20:28] sagarkrsd commented on #14
The proposed ways to receive events from Node problem detector can be viewed in design doc
https://docs.google.com/document/d/1oaaKGT4SW9RfaR4ze_TiIyIGhmPILF7iH9-wRmiSc-A/edit#

[2018-05-11 14:51] xtaraim opened #46 "Make Disable lazy initialisation and enable DISCARD commands"
Disable lazy initialization and enable DISCARD during format by passing the following parameters to mkfs.ext4:

-E lazy_itable_init=0,lazy_journal_init=0,discard
The lazy_journal_init=0 parameter does not work on instances with CentOS 6 or RHEL 6 images. For those instances, format persistent disks without that parameter.

-E lazy_itable_init=0,discard
Enable DISCARD commands on mount, pass the fo

[2018-06-04 10:19] shovanmaity opened #50 "Use epoll method instead of select calls for reading from file descriptor."
We may miss a disk attach event when disk is attached after `pushDiskResources()` in the main thread and before `MonitorEvent()` calls select for the netlink fd in go routine. We should use `epoll` where after `epoll_create` and `epoll_ctl`, we can notify main thread that it is now listening for the `netlink fd` and it can proceed with the `pushDiskResources()` in that way we will not miss any att

[2018-06-15 14:52] #30 closed

[2018-06-22 13:40] #35 closed

[2018-07-05 07:07] #33 closed

[2018-07-05 07:09] #36 closed

[2018-07-05 07:10] #9 closed

[2018-07-05 07:14] #10 closed

[2018-07-05 07:16] shovanmaity commented on #26
fixes - https://github.com/openebs/node-disk-manager/pull/49

[2018-07-05 07:16] #26 closed

[2018-07-05 07:20] a4abhishek commented on #43
Please check the [doc](https://docs.google.com/document/d/1WwsPONAO6ewYYvF3KT7XCFe9bbVaMTPiGu7pvfxogRo/edit?usp=sharing).

[2018-07-05 07:20] #43 closed

[2018-07-09 12:02] shovanmaity opened #57 "Restructure node-disk-manager build script."
`hack/buid.sh` file do all stuffs to build ndm image like build binary, generate image tag using git commit .. need to make multiple script file for different purpose. This is one improvement mentions in PR(#53).

[2018-07-13 05:48] #57 closed

[2018-07-31 06:35] dargasudarshan opened #65 "NDM: kubectl get disks lists the disks which are detached from the nodes (GKE cluster)"
- I have attached 2 disks to each node (GKE cluster) and after deploying ndm
`kubectl get disks` listed 6 disks as expected.
- Later, I have detached the disks and scale down my cluster.
- Again after some time, I have brought up my cluster and did not attached the disks.
- Then observed that  `kubectl get disks` still shows 6 disks
[code]
- The state of the disks is also showing as `Active` from

[2018-08-29 08:34] dargasudarshan opened #69 "NDM pods goes to 'CrashLoopBackOff' state on CentOS based k8s cluster."
NDM pods goes to 'CrashLoopBackOff' state on CentOS based k8s cluster.

[code]
NDM pod logs:
[code]
[code]

[2018-08-29 08:35] dargasudarshan commented on #69
Workaround for this issue is to Disable selinux on all the nodes to get all NDM pods running.

[code]

[2018-08-31 07:50] pawanpraka1 opened #72 "NDM is not able to detect disk size, sector size on the AWS cluster"
[code]

[2018-09-03 16:18] kmova opened #74 "NDM should be able to detect if the disk is already being used"
NDM 0.1 can filter out the disks used for OS. There are a some more cases that need to be handled like:
- disks used by lvm
- disks already formatted and mounted

[2018-09-04 10:34] shovanmaity opened #75 "ndm set sparse file related cr's state as inactive if any mismatch occur."
ndm makes the state of sparse file related cr as inactive if any mismatch occur. One case is like this if user is using openEBS volumes then wrapper iscsi disk is created and vendor of that disk is openEBS which we are filtering out. When user delete that volume one disk detach event comes and as that disk is not present in etcd it is considered as a mismatch. Then ndm will rescan system and updat

[2018-09-04 16:54] #75 closed

[2018-09-30 08:45] qiell opened #83 "Implement new probe to fetch disk size"
For AWS EBS volumes we are not getting the capacity of the disk from udev probe. Implement one new probe to fetch the capacity of the disk. This probe will read from system files to fetch capacity of a disk. #72

[2018-09-30 08:45] qiell opened #84 "Integration test to check dynamic disk detection"

[2018-09-30 08:46] qiell opened #85 "Integration test to check details fetched using udev probe"

[2018-09-30 08:46] Akash4927 opened #86 "Integration test for osdisk exclude filter"

[2018-09-30 08:47] Akash4927 opened #87 "Integration test for vendor filter"

[2018-09-30 08:47] Akash4927 opened #88 "Integration test for path filter"

[2018-09-30 08:47] qiell opened #89 "Integration test for sparse file"

[2018-09-30 08:53] Akash4927 opened #90 "Fix lint error in start.go file"
File: [start.go](https://github.com/openebs/node-disk-manager/blob/master/cmd/app/command/start.go)

Line 33: warning: exported type CmdStartOptions should have comment or be unexported (golint)

[2018-09-30 08:55] Akash4927 opened #91 "Fix lint errors in server.go file"
File: [server.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/server/server.go)

[code]

[2018-09-30 08:56] Akash4927 opened #92 "Fix lint error in mockdata.go"
File: [mockdata.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/smart/mockdata.go)

[code]

[2018-09-30 08:57] Akash4927 opened #93 "Fix lint error in controller.go"
File: [controller.go](https://github.com/openebs/node-disk-manager/blob/master/cmd/controller/controller.go)

[code]

[2018-09-30 08:58] qiell opened #94 "Fix lint errors in types.go file"
File: [types.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/apis/openebs.io/v1alpha1/types.go)

[code]

[2018-09-30 08:59] Akash4927 opened #95 "Fix lint errors in commands.go file"
File: [commands.go](https://github.com/openebs/node-disk-manager/blob/master/cmd/app/command/commands.go)

[code]

[2018-09-30 09:01] Akash4927 opened #96 "Fix lint error in metrics.go file"
File: [metrics.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/server/metrics.go)

[code]

[2018-09-30 09:02] qiell opened #97 "Fix lint error in sparsefilegenerator.go file"
File: [sparsefilegenerator.go](https://github.com/openebs/node-disk-manager/blob/master/cmd/controller/sparsefilegenerator.go)

[code]

[2018-09-30 09:03] Akash4927 opened #98 "Fix lint error in common.go file"
File: [common.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/metrics/common.go)

[code]

[2018-09-30 09:04] Akash4927 opened #99 "Fix lint errors in register.go file"
File: [register.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/apis/openebs.io/v1alpha1/register.go)

[code]

[2018-09-30 09:05] Akash4927 opened #100 "Fix lint error in common.go"
File: [common.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/udev/common.go)

[code]

[2018-09-30 09:06] Akash4927 opened #101 "Fix lint error in listentry.go"
File: [listentry.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/udev/listentry.go)

[code]

[2018-09-30 09:07] Akash4927 opened #102 "Fix lint error in register.go"
File: [register.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/apis/openebs.io/register.go)

[code]

[2018-09-30 09:08] Akash4927 opened #103 "Fix lint errors in common_resource.go"
File: [common_resource.go](https://github.com/openebs/node-disk-manager/blob/master/integration_test/common_resource/common_resource.go)

[code]

[2018-09-30 09:09] Akash4927 opened #104 "Fix lint errors in eventhandler.go"
File: [eventhandler.go](https://github.com/openebs/node-disk-manager/blob/master/cmd/probe/eventhandler.go)

[code]

[2018-09-30 09:10] Akash4927 opened #105 "Fix lint errors in scsicommands.go"
File: [scsicommands.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/smart/scsicommands.go)

[code]

[2018-09-30 09:11] Akash4927 opened #106 "Fix lint errors in filter.go"
File: [filter.go](https://github.com/openebs/node-disk-manager/blob/master/cmd/controller/filter.go)

[code]

[2018-09-30 09:12] Akash4927 opened #107 "Fix lint error in util.go"
File: [util.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/util/util.go)

[code]

[2018-09-30 09:17] Akash4927 opened #108 "Fix typo in ndm_util.go"
File: [ndm_util.go](https://github.com/openebs/node-disk-manager/blob/master/integration_test/ndm_util/ndm_util.go)

[code]

[2018-09-30 09:18] Akash4927 opened #109 "Fix typo in scsicommands.go"
File: [scsicommands.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/smart/scsicommands.go)

[code]

[2018-09-30 09:19] Akash4927 opened #110 "Fix go vet error in types.go"
File: [types.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/apis/openebs.io/v1alpha1/types.go)

[code]

[2018-09-30 09:20] Akash4927 opened #111 "Fix go vet errors in fdutil_test.go"
File: [fdutil_test.go](https://github.com/openebs/node-disk-manager/blob/master/pkg/util/fdutil_test.go)

[code]

[2018-09-30 09:24] Akash4927 opened #112 "Fix ineffective assignment in ndm_util.go"
File: [ndm_util.go](https://github.com/openebs/node-disk-manager/blob/master/integration_test/ndm_util/ndm_util.go)

[code]

[2018-09-30 11:27] gunjan01 commented on #106
@Akash4927 Can I take this up ?

[2018-09-30 12:09] Akash4927 commented on #106
@gunjan01
Sure.... Please go ahead

[2018-09-30 18:44] i-vikash commented on #109
I'd like to work on it

[2018-09-30 18:56] Akash4927 commented on #109
@i-vikash
Sure, please go ahead.

[2018-09-30 20:54] palash25 commented on #101
Claiming this

[2018-09-30 20:55] Akash4927 commented on #101
@palash25 Go ahead

[2018-09-30 21:07] palash25 commented on #101
PR created

[2018-09-30 21:36] rafa-acioly commented on #107
can i take this one @Akash4927 ?

[2018-09-30 21:44] rafa-acioly commented on #107
i've send you a PR (#116)

[2018-10-01 01:00] shindakun commented on #108
I grab this one.

[2018-10-01 01:14] rbo13 commented on #110
Hi @Akash4927, can I take this issue if no one is taking :)

[2018-10-01 01:16] rbo13 commented on #93
Hi @Akash4927, can I take this issue?

[2018-10-01 01:16] shindakun commented on #110
Will grab this one as well.

[2018-10-01 01:45] nathan78906 commented on #95
claimed

[2018-10-01 02:31] andreathniah commented on #102
Hi there, can I try working on this issue?

[2018-10-01 02:41] Akash4927 commented on #110
@rbo13 Please go ahead
@shindakun Please grab other issue

[2018-10-01 02:42] Akash4927 commented on #108
@shindakun Thanks for the PR

[2018-10-01 02:42] Akash4927 commented on #107
@rafa-acioly Thanks for the PR

[2018-10-01 02:42] Akash4927 commented on #102
@andreathniah Sure, please go ahead

[2018-10-01 02:43] Akash4927 commented on #98
@rbo13 Sure, you can take this

[2018-10-01 02:43] Akash4927 commented on #95
@nathan78906 Thanks for the PR

[2018-10-01 03:10] jeanmorais commented on #105
Can I get this one?

[2018-10-01 03:15] debck commented on #92
I would like to work on this

[2018-10-01 05:03] #109 closed

[2018-10-01 05:19] #92 closed

[2018-10-01 06:02] Abby3017 commented on #104
can i take this task

[2018-10-01 07:10] Abby3017 commented on #90
happy to take this

[2018-10-01 07:12] Akash4927 commented on #90
@Abby3017 Sure please go ahead

[2018-10-01 08:47] Akash4927 commented on #104
Sure @Abby3017, please go ahead

[2018-10-01 08:48] GaruGaru commented on #112
Should be fixed by #125

[2018-10-01 10:11] #112 closed

[2018-10-01 12:19] Rupeshiya commented on #103
@Akash4927  I would like to fix this .
But how can I fix this ,any suggestion . Please help to fix this.

[2018-10-01 12:41] #102 closed

[2018-10-01 12:58] rafa-acioly commented on #94
i'll take this one! :)

[2018-10-01 15:52] #95 closed

[2018-10-01 16:06] #108 closed

[2018-10-01 16:41] Akash4927 commented on #94
Awesome @rafa-acioly, Thank you

[2018-10-02 05:28] Rupeshiya commented on #93
@Akash4927  It already has a comment on line 35 and 45, check it out.

[2018-10-02 05:56] #111 closed

[2018-10-02 05:57] #110 closed

[2018-10-02 06:07] shovanmaity commented on #83
To Implement a new probe follow this pr- #73
steps -
[code]

[2018-10-02 06:40] gunjan01 commented on #106
@Akash4927  PTAL https://github.com/openebs/node-disk-manager/pull/140

[2018-10-02 12:03] #99 closed

[2018-10-02 12:08] #100 closed

[2018-10-03 04:48] #107 closed

[2018-10-03 06:08] Akash4927 commented on #96
@albertogviana PR is already merged for this.
https://github.com/openebs/node-disk-manager/pull/132

[2018-10-03 06:08] #96 closed

[2018-10-03 06:09] Akash4927 commented on #97
@albertogviana PR is already raised for this

[2018-10-03 07:56] Rupeshiya commented on #89
@Akash4927  I dont know about integration test ,but want to fix this so can you please tell me how can I fix this ??

[2018-10-03 09:07] akhilerm commented on #88
@Akash4927 Can you give a little detail about the issue/test.
I am willing to take it up.

[2018-10-03 13:38] #106 closed

[2018-10-04 05:49] a4abhishek commented on #88
@akhilerm please check [integration_test/ginkgo_integration_test.go](https://github.com/openebs/node-disk-manager/blob/master/integration_test/ginkgo_integration_test.go). This file gets executed when you trigger Integration Test for NDM.

[2018-10-04 11:02] shovanmaity commented on #88
@akhilerm  Path filter use disk path to filter out disk's in node-disk-manager.yaml you can find one configmap and there is one entry for path filter configuration. There you can enable and disable this filter. You can also provide include and exclude filter to fit your use cases. If you provide include value then ndm will create disk cr for those disk which have path matching with given pattern i

[2018-10-04 11:38] shovanmaity commented on #88
Assume I have 2 physical scsi disk and 2 virtual disk.
 Scsi disk's path starts with `sd` so path of 2 disks will be like `/deb/sdx` and `/dev/sdx`. Virtual disk's path starts with `vd` so path of 2 disks will be like `/deb/vdx` and `/dev/vdx` .
We want only scsi disk should be managed by ndm then we can specify `sd` in include section of configmap.
If we want only virtual disk should not be manag

[2018-10-04 11:45] shovanmaity commented on #88
let me know if you have any question related path filter. and try to post test case plan here then implement it using [citf.](https://github.com/openebs/citf)

[2018-10-04 11:50] #98 closed

[2018-10-04 16:46] akhilerm commented on #88
thanks @shovanmaity . will update soon about the test plan.

[2018-10-04 16:57] #105 closed

[2018-10-05 09:36] kmova opened #143 "Integrate NDM with SeaChest to fetch disk attributes."
Refer:
- https://github.com/Seagate/openSeaChest
- https://www.snia.org/sites/default/files/SDC/2018/presentations/Storage_Resource_Mgmt/Ahmad_Muhammad_What%CE%93%C3%87%C3%96s_better_than_sg3utils_hd_sdparm.pdf

SeaChest exposes a c - library for reading / performing disk operations -- (better than s3gutils). Check how to integrated NDM (via c-go bindings) to access the inquiry data. Analyse if Se

[2018-10-05 10:16] vivex commented on #104
https://github.com/openebs/node-disk-manager/pull/122

this issue can be closed

[2018-10-05 10:40] #104 closed

[2018-10-05 10:41] #91 closed

[2018-10-05 21:33] richardelling commented on #143
IMHO, these (sg3_utils, smp_utils, and openSeaChest) are overkill. As part of the evaluation,
consider that decoding the standard log and status pages might be simpler, easier, and less
interdependent than integrating with external projects.

[2018-10-05 23:09] richardelling commented on #143
I agree with the approach. But keep in mind that the SMART stuff is dictated by standards
and changes very slowly. So the real question is whether it is worth creating a dependency
on others decoding pages, or just decode the pages directly and eliminate the dependency.
I don't know the answer, but having done this a few times now, the latter is very feasible and
likely simpler than the nuances of

[2018-10-06 18:52] akhilerm commented on #88
Do I need to create a separate package for the path_filter test? Or include the test functions in `ndm_util` ?

Then I need to describe the integration test in `ginkgo_integration_test.go`. Is this the method I should follow?

[2018-10-07 05:59] arshadkazmi42 commented on #94
@Akash4927 is it still open?

[2018-10-07 14:18] Akash4927 commented on #94
@arshadkazmi42 No, I think @rafa-acioly already raised a PR for this.

[2018-10-07 14:18] arshadkazmi42 commented on #94
@Akash4927 I thought @rafa-acioly has not replied for a week, so its open. No issues, I will explore other open issues 👍

[2018-10-09 15:04] akhilerm commented on #88
@shovanmaity @a4abhishek
The steps I figured out for the test :

1. Call `YAMLPrepare()` to make necessary changes in YAML for exclude and include in filter configs.
2. trigger the integration test.
3.  Check for whether the disks are attached or not using `MatchDisksOutsideAndInside()`

The test cases. : `GetLsblkOutputOnHost()` to get the list of disks present on host. Take each one from the lis

[2018-10-15 12:21] shovanmaity commented on #88
@akhilerm add some precheck like if ndm is running delete it. Then modify yaml and create ndm again with modified yaml then quarry for disk object and check path for disk cr's. Add one cleanup at the end to delete all disk resources and ndm pod. High level steps looks good to me. @a4abhishek please review it once.

[2018-10-15 12:52] akhilerm commented on #88
@shovanmaity  the creation and cleaning will  be done by `_BeforeSuite` and `_AfterSuite` right, if Iam triggering the test from  [ginkgo_integration_test](https://github.com/openebs/node-disk-manager/blob/master/integration_test/ginkgo_integration_test.go) ?

[2018-10-16 06:09] zacharyzhao opened #147 "[BUG] Disk Capacity Mismatch: NDM can not recognize the disk spaces of more than 2TB"
Hi, OpenEBS team,

I'm trying OpenEBS v0.7 and hitting an NDM Disk Capacity Mismatch Issue, it seems that NDM cannot recognize the disk spaces of more than 2TB.

For Example, my `/dev/sdb` has 36TB in total, but I got it's capacity information of `2TB` through `kubectl get disk`.

![wx20181016-140148](https://user-images.githubusercontent.com/13870117/46995677-4c24cd00-d14c-11e8-8d51-5a54588b4a64.

[2018-10-16 13:23] kmova opened #148 "Refactor the NDM ConfigMap to make use of YAML format"
The sample NDM ConfigMap (https://github.com/openebs/node-disk-manager/blob/master/ndm-operator.yaml) used to override the default values for probes and filters is specified using a json format.

Convert this into YAML format.

[2018-10-18 05:44] #148 closed

[2018-10-19 07:13] AraanBranco commented on #97
@Akash4927 is it still open?

[2018-10-20 06:11] ulshell commented on #85
Can you please elaborate

[2018-10-20 07:03] Iamchotusri commented on #94
i will work on this issues

[2018-10-20 07:05] ShaakhaBrahma commented on #97
am working on this issue

[2018-10-20 08:17] ShaakhaBrahma commented on #97
Signed-off-by: ShaakhaBrahma <vatsavatsi777@protonmail.com>

[2018-10-20 08:18] Iamchotusri commented on #94
Signed-off-by: sijith iamchotusri@gmail.com

[2018-10-20 08:29] ShaakhaBrahma commented on #97
Signed-off-by: ShaakhaBrahma <vatsavatsi777@protonmail.com>

[2018-10-20 10:18] Manavpreeet opened #161 "Grammatical error in Readme file"

[2018-10-23 05:04] kmova opened #164 "Refactor code to send the SCSI CDB commands with highest supported version"
The current code for determining capacity issues a CDB10 command and if there is a over-flow issues a CDB16 command. Instead, it would be good to have a mechanism to determine the highest version supported upfront and use that for subsequent commands.

[2018-10-24 16:34] SeanPrashad opened #166 "Ineffectual Assignments for udev_test.go"
**What happened**:

Whilst viewing the [Go Report Card](https://goreportcard.com/report/github.com/openebs/node-disk-manager) for this project, I noticed that the `ineffassign` section reported 99%:

![screen shot 2018-10-24 at 12 31 38 pm](https://user-images.githubusercontent.com/13009507/47446239-d2629400-d788-11e8-9e79-e5884b30156f.png)

**What you expected to happen**:

I expected the `ineffa

[2018-10-24 16:34] SeanPrashad commented on #166
I'll open up a PR for this one! 👨🏽‍💻

[2018-10-26 06:23] Xiryl opened #168 "Updating readme typo"
Update readme removing typos and adjusting the style

Issues assigned to me. Hacktoberfest label.

[2018-10-26 17:28] prnvdixit opened #170 "README.md : Fix Typo"
Fix spelling of "evaulating" in README.md.

label:  Hacktoberfest, good first issue

[2018-10-26 17:29] prnvdixit commented on #170
Claiming this.

[2018-10-29 14:40] kmjayadeep commented on #89
I would like to work on this. @Akash4927 Can you please provide some more details on what to do?

[2018-10-30 17:02] patheticpat commented on #164
I just pushed a PR (#174) addressing this issue.

[2018-10-31 15:08] #147 closed

[2018-11-02 05:00] #166 closed

[2018-11-18 16:50] akhilerm commented on #74
@kmova Is this issue still active? I am interested to work on it.

[2018-11-19 18:31] kmova commented on #74
@akhilerm Thank you for taking this up.

[2018-11-21 15:04] akhilerm commented on #88
This issue has been fixed in #172 .

[2018-11-21 17:00] kmova commented on #88
yes!

[2018-11-21 17:00] #88 closed

[2018-11-21 17:01] kmova commented on #74
As discussed @akhilerm - let us put in a design note and see if we can refactor the path filter to a more generic filtering mechanism and use that feature to implement this.

[2018-11-23 06:26] yudaykiran opened #177 "ndm should be able to get the correct details of the node."
**What happened**:
- When run on an EKS cluster, the hostname label obtained by NDM is different from the hostname label assigned to the node. This resulted in the pod staying in pending state as it could not get scheduled.
**What you expected to happen**:
NDM should be able to get the correct node details.
**How to reproduce it (as minimally and precisely as possible)**:
- Create a cluster on EKS

[2018-11-28 05:40] dargasudarshan opened #178 "NDM pods experienced `panic: runtime error: invalid memory address or nil pointer dereference`"
**What happened**:
- On sparse disks deployed applications.
- Observed NDM pods experienced `panic: runtime error: invalid memory address or nil pointer dereference`

**Anything else we need to know?**:
[code]

[code]
Panic snipped:

[code]

[ndm-crash.log](https://github.com/openebs/node-disk-manager/files/2623055/ndm-crash.log)

[2018-11-28 06:19] satbirchhikara commented on #178
we allocating memory and using it without checking if memory allocation failed or not. In this case, we may end-up with NULL pointer if 1) System is under memory pressure & allocation failed or 2) system call to get device struct failed(this may failed with many reasons.  From given logs, I can not connect which one (out of above two) is happening. Nonetheless, I would like to go ahead and fix thi

[2018-11-28 14:01] kmova commented on #74
@akhilerm -- can you check what information you get via the `udevadm` when a device is mounted. This can give some information how to detect if lvm mounts are there.

[2018-11-29 06:09] satbirchhikara opened #179 "Core dump enabled on node-disk-manager for debugging"
node-disk-manager do not dump core if panic happened. This issue is created to support core-dump in node-disk-manager.

[2018-11-29 06:42] satbirchhikara commented on #179
I am closing this issue as I have created another PR #181 for same

[2018-11-29 06:42] #179 closed

[2018-12-04 13:53] michael-db opened #182 "fix broken Makefile rule "vet" to do "go vet""
With the Makefile as it stands
make vet
does nothing.
It is intended to run "go vet -composites" but is broken because of the two lines following it.

[2018-12-07 07:31] prabhatkumarthakur opened #186 "OS disk is getting detected in disk section"
**What happened**:
After applying the 0.8 OpenEBS operator yaml.Checked the status of disks using kubectl get disk command. Founded that OS disk is also getting detected along with sparse disk
**What you expected to happen**:
The OS disk should get filtered out. Is should not be visible in disk section.
**How to reproduce it (as minimally and precisely as possible)**:
1. Apply the openebs operator

[2018-12-12 18:15] akhilerm commented on #74
[code]
This is the info that I get when `udevadm monitor | grep UDEV` is run and device is mounted. It consists of the interface (scsi), type (block device), disk name and partition names.

[2018-12-30 00:19] oskapt opened #188 "NDM tries to reuse the same name for disks on different hosts (and fails)"
**What happened**:

I have three Proxmox nodes, each with a 100GB disk attached to `/dev/sdb`. Only one disk shows up under `kubectl get disk`, and the logs indicate that each NDM pod is attempting to add its own disk with the same name and failing because one already exists with that name. My best guess is that it's hashing the disk name, and since they're all attached as `scsi-0QEMU_QEMU_HARDDIS

[2019-01-01 10:46] segator opened #189 "Custom Disks (not detected automatically) are not usable by openebs"
How Can I add non standar disks like  iscsi disks, or for example I want to add single partition to storagepoolclaim or zfs zvol /LVM
If I try to add manually the kind:disk object I got status inactive, any example?

[2019-01-01 18:48] kmova opened #190 "NDM should watch for ConfigMap changes"
NDM DaemonSet pods use the ConfigMap to determine what disks are discovered and added as disk resources. This configuration is read at the startup by the DaemonSet Pods.

**What is the expected behavior?**
It will be good to have the pods watch for the ConfigMap changes and dynamically (at runtime) change the logic for types of disks discovered.

This also requires the NDM to handle cases, where s

[2019-01-02 14:28] michael-db opened #191 "hack/build.sh fails latest version of shellcheck"
The shellcheck output gives the problem and the fix

    In ./hack/build.sh line 110:
    if [[ "${NDM_AGENT_DEV}" ]]; then
        ^----------------^ SC2244: Prefer explicit -n to check non-empty string (or use =/-ne to check boolean/integer).

    Did you mean:
    if [[ -n "${NDM_AGENT_DEV}" ]]; then

    For more information:
    https://www.shellcheck.net/wiki/SC2244

SC2244 was added just a

[2019-01-04 18:36] segator commented on #189
It works after delete openebs-ndm and destroyed custom disks, spc and sc and then redeployed.

[2019-01-07 04:37] imazik opened #194 "NDM pods experienced panic while I attach a disk."
**What happened**:
node-disk-manager was running in my cluster and I attached on disk in my node. Then it experienced panic.

**How to reproduce it (as minimally and precisely as possible)**:
Run ndm in your cluster then attach a disk in any node.

**Anything else we need to know?**:
I am running 1.12 k8s cluster.
[code]
dev path `/dev/sdX` is not present while seachest probe trying to get details

[2019-02-15 09:06] akhilerm commented on #194
@imazik @kmova  This issue is fixed by PR #198, which included error handling for seachest probe. Shall it be closed?

[2019-02-15 09:12] akhilerm commented on #191
Fixed in #193

[2019-02-16 04:52] akhilerm commented on #194
Issue fixed, and merged to master.

[2019-02-16 04:52] #194 closed

[2019-02-16 04:54] akhilerm commented on #191
Thanks @michael-db for reporting. Issue is fixed and merged to master.

[2019-02-16 04:54] #191 closed

[2019-02-21 15:05] sourabh1031 commented on #94
@qiell can i work on this

[2019-02-22 05:46] akhilerm opened #202 "OS Disk filter should exclude matching partitions along with disk"
**What happened**:
OS Disk filter is excluding only the disk, not the partitions that are detected on the disk.

**What you expected to happen**:
When a disk, (eg : `/dev/sda`) is detected as os-disk, `/dev/sda1`, `/dev/sda2` etc should also be excluded along with `/dev/sda`.

**How to reproduce it (as minimally and precisely as possible)**:
A node with a single disk having the following device he

[2019-02-22 06:36] akhilerm commented on #83
Capacity probe implemented in #145

[2019-02-22 06:36] #83 closed

[2019-02-22 06:42] akhilerm commented on #94
Sure @sourabh1031 . Go Ahead.

[2019-02-25 10:33] juwalter commented on #189
@segator - I am facing the same issue, but deleting and reinstalling openebs-ndm does not help me.

My setup is like so:

```zfs create -V 2000G -b $(getconf PAGESIZE) -o compression=lz4 -o com.sun:auto-snapshot=false rpool/openebs```  (fyi - my ZFS root pool is called "rpool", not "tank")

now, I would like openebs-ndm to recognise /dev/zd0 (or /dev/zvol/rpool/openebs) as a valid device

[2019-02-25 12:59] akhilerm opened #203 "NDM pod should be able to run in unprivileged mode"
Currently, NDM Daemon set runs in the privileged mode. But we should be able to run the pod in unprivileged mode and get the same functionalities

**What is the expected behavior?**
NDM requires `privileged:true` when deploying as a daemon set for its proper working. NDM should be able to run without privileged access to the node, and work exactly in the same manner. A work around should be found

[2019-02-25 13:21] akhilerm commented on #203
NDM requires privileged mode because it requires access to `/dev` and `/sys` directories for monitoring the devices attached and also to fetch the details of the attached device using various probes.

`LINUX_CAPS` in the docker engine allows to give a container only certain permissions which it require instead of the complete privilege.
The permission bit mask of a container running in privileged

[2019-02-25 13:41] akhilerm opened #204 "Smart probe and Seachest probe not fetching details of disk"
**What happened**:
Smart probe and seachest probe is not fetching details of the disk that is attached after NDM pod has started(i.e after the initial bus scan). Here is the log from the NDM pod.
[code]
Here both smart probe and seachest probe are failing to detect the device, and hence details are not populated.

**What you expected to happen**:
Smart probe and seachest probe should fetch the rel

[2019-02-25 14:36] umamukkara commented on #189
Just as a note, I am pasting some details below:

Below notes is applicable only if you are trying to setup a new zpool on fresh disks:
-----------------------------------------------------------------------------------

You don't need to setup and manage zpools and setup zvols for NDM. cStor and NDM does this for you

The baremetal disks are discovered and setup as disk custom disk resources (CRs

[2019-02-26 07:04] satbirchhikara opened #205 "Implement DeviceClaim, Device and Disk watcher/controller using operator-sdk"
Implement DeviceClaim, Device and Disk watcher/controller using operator-sdk.

Task would include implementation of following functionality:
* DeviceClaim CRD and Watcher/Controller for DeviceClaim.
* Device CRD and Watcher/Controller for Device.
* Disk CRD and Watcher/Controller for Disk.

With these functionality, we are planing to have two binaries i.e. NDM daemon-set(Daemon-set) and NDM-operat

[2019-02-26 11:27] vibornoff opened #208 "Add `--bind-address` CLI option"
Currently NDM accepts `--port` CLI option overriding default (:9090) listening port.

It would be handy to accept `--bind-address` option also to make NDM listenting on a desired address, not `0.0.0.0`/`::`.

[2019-02-26 15:57] stewbernetes opened #209 "Node Disk Manager - panic: runtime error: index out of range"
**What happened**:
I attempted to upgrade our OpenEBS deployment from 0.8.0 to 0.8.1. Upon startup, all components launch successfully except the node-disk-manager.

Upon launch, I am getting the following error:

[code]

**What you expected to happen**:
I expect node-disk-manager to start.

**How to reproduce it (as minimally and precisely as possible)**:

I am using the generic openebs-operator

[2019-02-26 17:28] kmova commented on #209
Thanks @stewbernetes. That hard coded line should not be there.

Fixed by https://github.com/openebs/node-disk-manager/pull/210

[2019-02-26 17:42] stewbernetes commented on #209
@kmova Version 0.3.1 has addressed the issue:
[code]

[2019-03-01 03:35] kmova commented on #209
Keep this open to merge this into master. This fix is included in https://github.com/openebs/node-disk-manager/pull/201 targeted for 0.4

[2019-03-07 06:26] akhilerm commented on #208
@vibornoff  Thanks for raising the issue.  We will work on including `--bind-address` CLI option in NDM.

A patch for doing this is also welcome.

[2019-03-19 12:05] kmova commented on #189
custom disks can be added with an label called ndm.io/managed: "false"
https://github.com/openebs/node-disk-manager/pull/192

[2019-03-19 12:05] #189 closed

[2019-03-20 10:41] akhilerm opened #222 "NDM pod experienced panic, restarted and then worked fine"
**What happened**:
Deployed openebs using `openebs-operator.yaml`. ndm tag `v0.3.1`. The pod experienced panic while processing the initial udev events and crashed. The pod restarted and worked as expected.

**What you expected to happen**:
The pod should not have crashed in the first place, during initial bus scan.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy `openebs

[2019-03-20 14:24] kmova commented on #203
Make sure the documentation is updated explaining why NDM requires privileged access.

[2019-03-24 12:04] PhilippHeuer commented on #69
I just hit the same issue, when it tries to mount `/proc/1/mounts` - i don't want to disable selinux on my server though. Does someone know what selinux rules are required to make this work?

I would be nice to have this limitation described on the installation page of openebs for centos users.

[2019-03-25 13:57] akhilerm opened #224 "Ability to exclude multiple os disks"
Currently NDM can detect and exclude only a single os-disk. In cases where the user has configured his disks in the following manner
[code]
and os-disk-filter
[code]
NDM should exclude both `sda` and `sdb`. In current behaviour NDM will exclude only `sda` and a device/disk CR will be created for `sdb`

**What is the expected behavior?**
If multiple disks are used as os-disks and given in configmap

[2019-03-26 10:41] RobHofmann commented on #69
I'm running into the same issue and I dont want to disable SELinux either. Havent found a fix yet.

[2019-04-03 07:48] akhilerm commented on #222
A similar issue for NDM, https://github.com/openebs/openebs/issues/2485

[2019-04-17 13:15] akhilerm opened #237 "Run NDM on hosts with SELinux enabled"
NDM should be able to run in systems with selinux enabled. Currently it is failing because `/proc/1/mounts` of host cannot be mounted inside container. This results in the os-disk-filter not being able to work correctly.

**What is the expected behavior?**
OS-disk filter should be able to detect the mounted disks correctly.

[2019-04-17 14:07] joshuacox opened #239 "Direct iSCSI support for SAN and NAS"
It should bepossible for me to feed openebs the address for an iscsi target, and perhaps some chap creds, and have openEBS use that iscsi target directly.

If you are using FreeNAS it would look something like:

1. Add virtual disk to freeNAS
1. Add new disk to pool in --> http://myfreeNAS.host/ui/storage/pools
1. Add pool to extent in --> /ui/sharing/iscsi/extent
1. Add portal --> /ui/sharing/isc

[2019-04-17 14:18] joshuacox commented on #239
@kmova I thought I'd answer you here on what hardware.  For testing purposes I have some dell compellent, and IBM storage units.

But I don't really expect OpenEBS to have to worry about the differences between those units.  All of my testing at the moment is using a VM with FreeNAS loaded onto it exposing an extent as detailed above.

[2019-04-17 16:27] richardelling commented on #239
I see value for NDM monitoring iSCSI initiator health.

Since iSCSI initiators are already supported by k8s, is there anything preventing such a configuration today? Perhaps policy barriers? Policies can be changed...

[2019-04-17 19:37] joshuacox commented on #239
Just to be clear you can manually set up an iscsi volume for k8s as described [here](https://github.com/kubernetes/examples/tree/master/staging/volumes/iscsi).

And I am very pleased with the performance and flexibility that jiva and cstor provide.

But when it comes to production I'd like to offer something as close to the experience of Amazon EBS as possible (which is also just a wrapper around

[2019-04-18 10:37] akhilerm opened #243 "Partition information of Virtual_disk is not getting filled"
**What happened**:
Partition information of `Virtual_disk` attached to node is not getting populated into the Disk resource.

**What you expected to happen**:
Partition type and filesystem type of partitions on the disk should be available inside the Disk resource.

**How to reproduce it (as minimally and precisely as possible)**:
Attach a `Virtual_disk` having partitions onto a node, the disk CR

[2019-04-24 09:42] #170 closed

[2019-04-26 20:24] KevinWhalen commented on #69
I grabbed the most recent entry mentioning docker from `/var/log/audit/audit.log` as `trimmed-audit.log`, then did the following to create a new SELinux policy.

    sudo audit2allow -i trimmed-audit.log -m openebs-storage > openebs-storage.te

openebs-storage.te

    sudo checkmodule -M -m -o openebs-storage.mod openebs-storage.te
    sudo semodule_package -o openebs-storage.pp -m openebs-storage

[2019-04-27 13:54] akhilerm commented on #69
@KevinWhalen @RobHofmann Can you try with the latest release of NDM, (`imageTag: v0.3.5`). We have fixed the issue, now you can run without disabling Selinux.

[2019-04-29 08:03] akhilerm commented on #237
NDM can be run on hosts with SELinux enabled, from release `v0.3.5`

[2019-04-29 08:03] #237 closed

[2019-04-29 08:13] akhilerm opened #246 "Include mount information of block devices into Custom Resource"
Currently details like filesystem type, partition type etc are filled by NDM in the Disk CR. If a file-system exists then the device can be mounted also. This information regarding the mountpoint should be included in the CR so that it can be used while provisioning.

Also including mount information helps to pinpoint the path at which mount related operations(`umount`)  can be performed.

**What

[2019-04-29 15:55] KevinWhalen commented on #69
@akhilerm, I tried, but with no luck.

I was careful to purge everything (storage classes, volumes, etc.). I removed the policy module and tested that I still got the SELinux denial with v0.3.4. Purged again, then deployed with v0.3.5. Sorry, but it did not work. I tried twice, but it was pretty clear it was not working the first time.

This is the image it pulled: `quay.io/openebs/node-disk-manag

[2019-04-29 16:05] akhilerm commented on #69
@KevinWhalen oops. I missed one point. You need to make a small edit in the hostpath.
It's updated in the latest OpenEBS charts at [#369](https://github.com/openebs/charts/blob/9313c439964653a33e7ba315c1fe3f26fd9965b5/docs/openebs-operator-0.8.2.yaml#L369) and [#406](https://github.com/openebs/charts/blob/9313c439964653a33e7ba315c1fe3f26fd9965b5/docs/openebs-operator-0.8.2.yaml#L406)

[2019-04-29 16:40] KevinWhalen commented on #69
@akhilerm, sorry, I am not seeing how to edit those. I was using the Helm catalog (kubernetes-charts.storage.googleapis.com), but I also tried deprecated github.com/openebs/charts but I am not sure if I added that catalog correctly. I guess I should also note that I have been running this through Rancher v2.2 and not directly with Helm and Kubernetes.

[2019-04-30 01:30] akhilerm commented on #69
@KevinWhalen , After installing, you could use `kubectl edit ds openebs-ndm` from the master node to edit the Daemonset spec.

[2019-04-30 16:01] KevinWhalen commented on #69
@akhilerm, I am somewhat new to kubernetes, so it took me a minute to figure out contexts and namespaces with `kubectl` (cluster: external, app: storage, namespace: openebs).

For my setup, I believe this got me into the correct daemonset, but the specification was much shorter and did not seem to have anything that could matched the changes of https://github.com/openebs/charts/commit/9313c4399646

[2019-04-30 16:23] akhilerm commented on #69
@KevinWhalen from the `daemonset.storage-openebs-ndm.openebs.external.txt` file you have provided, you can find the above said lines under `volumeMounts` and `volumes`.

[2019-04-30 17:07] akhilerm commented on #69
@KevinWhalen  you could also join the [OpenEBS](https://openebs.io/join-our-community) community channel on slack, for quick responses and troubleshooting.

[2019-04-30 19:48] KevinWhalen commented on #69
You are correct. I ignored the dash (-) and looked at pairs of "name" followed by "mountPath" instead of object keys per list entry. My bad.

Success! The failing pod restarted with that change and successfully deployed without needing special SELinux policy configurations.

[2019-05-10 09:05] nsathyaseelan opened #249 "Inactive disk CRs observed in CI cluster"
**What happened**:
- Deployed Openebs operator 0.9.x and ndm as v0.3.5 in 5 node cluster.
- Each node have one disk attached.
- Initially, it showed 5 disks
kubectl get disks
[code]
- After running some functional test, the number of disk CRs increased. Several disk were seen to be in inactive state.

[code]
It is to be noted that no chaos has been injected into disk/ndm specific components.

**Wh

[2019-05-14 10:25] akhilerm opened #250 "Create sparse block-device instead of sparse disk"
Sparse files can actually be considered as block-devices instead of disks. Currently sparse-images are created as sparse disks, which need to be changed as sparse block devices.

**What is the expected behavior?**
Sparse images should be used to create BlockDevice CR, instead of Disk CR

[2019-05-15 05:29] akhilerm opened #252 "Replace signals pkg with signals from controller-runtime"
NDM uses `pkg/signals` to handle shutdown signals gracefully. This package can be replaced with the signals package in `controller-runtime`. This will significantly reduce code in the NDM repo

**What is the expected behavior?**
Make use of `signals` in controller-runtime, instead of maintaining the code in `pkg/signals`

[2019-05-16 06:20] akhilerm opened #253 "Write test cases for mount-probe"
Mount-probe is a new probe introduced to fetch mount related information(mountpoint, filesystem) of block devices that has been attached to the node.

Test cases need to be written for `FillDiskDetails` in mount-probe.

[2019-05-16 14:41] #250 closed

[2019-05-24 17:20] umamukkara commented on #16
Now that CSI drivers are prevalent, to provision dynamic disks onto Kubernetes disks - we can use CSI driver of the external system. Some examples of interest are :
- Cinder CSI driver
- OpenSDS storage dock

[2019-05-28 11:03] akhilerm opened #255 "BlockDevice is not deactivated when the device is removed"
**What happened**:
NDM was installed using `ndm-operator.yaml`. A single physical disk is attached to the node. Block Device and Disk resource are created for the newly attached disk. When removing the physical disk, the diskCR is getting deactivated. But the BlockDevice CR is not getting deactivated.

**What you expected to happen**:
The status of BlockDevice should be updated to `Inactive`

**Ho

[2019-05-30 17:34] kmova opened #259 "Allow requests for a BD without specifying a hostname."
Can we change this to specify the hostName filter -- only when hostName is specified. In this way, even in automatic selection it will be possible to get a BD that is available anywhere in the cluster.

_Originally posted by @kmova in https://github.com/openebs/node-disk-manager/pull/254/review_comment/create_

[2019-06-02 14:16] #255 closed

[2019-06-03 10:37] akhilerm opened #261 "Launch NDM Daemonset and CRDs from NDM Operator"
Currently NDM Daemonset, NDM Operator and CRDs(Disk, BlockDevice and BlockDeviceClaim) each have to be created separately in the cluster. This is done either by applying the YAML file (Operator and Daemonset) or by the `m-apiserver`(installing CRDs).

This approach results in too much additional code in the Daemonset, to check that CRDs are available before Daemonset starts it operation. Also, it

[2019-06-26 06:42] akhilerm opened #274 "NDM operator not able to start after getting evicted"
**What happened**:
NDM operator pod was evicted due to resource limitations on the node. The new pod came up but the container did not start. The reason was because the readiness probe for the container failed. This happened because the evicted pod was still being the leader and the operator code did not start.

**What you expected to happen**:
The new operator pod should come up and be in running

[2019-06-27 19:28] muratkars commented on #222
A similar issues reported for NDM
[openebs/openebs#2542](https://github.com/openebs/openebs/issues/2542)
[openebs/openebs#2602](https://github.com/openebs/openebs/issues/2602)

[2019-07-05 09:03] #252 closed

[2019-07-08 06:30] akhilerm opened #279 "Core dumps are getting written to `/var/openebs/sparse` for all programs on the system"
**What happened**:
Used the default `ndm-operator.yaml` to deploy Node-Disk-Manger. The core dumps for crashes of NDM are getting written to `/var/openebs/sparse`. The core dumps for all programs that are running on the node is also getting written into the same directory.

**What you expected to happen**:
Only core dumps for crashes happening to NDM binary should be written to `/var/openebs/spars

[2019-07-08 16:40] akhilerm opened #280 "NDM operator pod restarts once and then works fine."
**What happened**:
Installed NDM using default `ndm-operator.yaml`. The daemonset pod came up and running. The NDM operator pod, came up crashed and then restarted and worked fine.

**What you expected to happen**:
NDM operator pod should not restart.

**How to reproduce it (as minimally and precisely as possible)**:
1. Install NDM using `ndm-operator.yaml`
2. We can see that the ndm operator pod

[2019-07-19 14:26] #209 closed

[2019-07-25 13:49] akhilerm opened #291 "BlockDevices are shown active even after node goes down"
**What happened**:
I had a 3 node GKE cluster, with a single GPD attached to each node. Installed NDM from the `ndm-operator.yaml` in `v0.4.0` tag. Disks and BlockDevices were created for all the 3 disks. I deleted the node pool containing the 3 nodes, without detaching the disks. The nodes were deleted and disks were shown as disconnected. Created a new node pool, and did not attach any disks. Bu

[2019-07-26 10:34] akhilerm commented on #291
Only when the node is shutdown gracefully, the disks and BDs associated with are marked as `Unknown`. When node goes down abruptly, the daemonset cannot manage its devices, a higher level operator should take care of marking those devices as Unknown.

[2019-07-26 10:39] akhilerm commented on #261
In #286, NDM related CRDs (Disk, BlockDevice, BlockDeviceClaims) are installed/managed by NDM operator.
Next step, NDM DaemonSet should also be deployed from operator.

[2019-07-26 10:43] akhilerm commented on #246
Done in #248

[2019-07-26 10:43] #246 closed

[2019-07-26 12:55] akhilerm commented on #222
Fixed in #276 . Fixed stack corruption issue while using seachest library.

[2019-07-26 12:55] #222 closed

[2019-08-14 05:20] akhilerm opened #294 "Change logger to klog"
Currently NDM uses two types of loggers for logging the messages. The daemon set uses `glog`, where as the operator uses `controller-runtime log`.

Instead of using 2 separate loggers, the logger needs to be changed to `klog` (the current log mechanism used in kubernetes). This will help to generate a uniform log messages and will be easier to debug.

**What is the expected behavior?**
`glog` in N

[2019-09-26 07:33] simonwh opened #309 ""Per node" filter configurations"
Imagine a 2 node setup with following disks:

**Node 1**
* `/dev/sda` <- OS/Reserved
* `/dev/nvme1n1` <- Available for OpenEBS

**Node 2**
* `/dev/nvme1n1` <- OS/Reserved
* `/dev/nvme2n1` <- Available for OpenEBS

Because of the name clash, I cannot use an include or exclude filter in order to make sure that node 1 `nvme1n1` and node 2 `nvme2n1` will be the only 2 block devices available across th

[2019-09-30 13:30] joonas-fi commented on #44
FYI: `smartctl` nowadays has `--json` switch (since 2017-12-02) for cleaner interop.

[2019-09-30 14:53] akhilerm opened #314 "Move from minikube to kubeadm for integration-test"
Currently node-disk-manager uses minikube for running integration tests. But while going for cross-platform support, minikube cannot be used for testing. Therefore, the testing needs to be moved from minikube to `kubeadm` based local cluster.

The changes need to be made in [.travis.yml](https://github.com/openebs/node-disk-manager/blob/ebc261b38dc3821663de2175ae48cc94d567f026/.travis.yml#L30). Se

[2019-09-30 15:15] akhilerm opened #316 "[integration-test] : add integration tests for path filter"
Node-Disk-Manager uses a `ConfigMap` to store the configuration and initializes based on this [config](https://github.com/openebs/node-disk-manager/blob/ebc261b38dc3821663de2175ae48cc94d567f026/cmd/ndm_daemonset/controller/ndmconfig.go#L31). `Path-filter` is one such filter-configuration that is used by NDM to check whether a particular disk present on the host needs to be processed by NDM or not.

[2019-10-01 21:24] RanadeepPolavarapu commented on #314
I can tackle this.

[2019-10-01 21:29] RanadeepPolavarapu commented on #294
I can tackle this.

[2019-10-01 23:40] akhilerm commented on #294
You are assigned this issue @RanadeepPolavarapu .. Thanks for taking it up. .
If you need any help you can comment over on this issue.

[2019-10-12 05:30] aswathkk commented on #208
@akhilerm May I work on this?

[2019-10-12 05:32] mathagician commented on #294
@akhilerm I am working on this today.

[2019-10-12 07:07] akhilerm commented on #208
@aswathkk  yes. you can take it up.

[2019-10-12 07:39] akhilerm opened #324 "remove unused cobra flags from NDM daemon"
NDM Daemon uses cobra for the CLI interface. There are certain flags like, `metricspath`, `port` and `kubeconfig` which are no longer required to be used with NDM daemon. These flags need to be removed and new flag `-v` need to be introduced so that verbosity can be added to log messages.

**What is the expected behavior?**
Only the flags that are required by NDM daemon should be made availbale vi

[2019-10-12 08:01] NaveenBellary commented on #324
@akhilerm, I'd like to take this up as part of hacktoberfest

[2019-10-14 06:43] akhilerm commented on #208
An issue #324  is raised to remove the unused flags.

[2019-10-21 07:09] #324 closed

[2019-10-23 09:27] muenchdo commented on #16
Is there a rough estimate on when this will be available?

[2019-10-23 11:24] AmitKumarDas commented on #16
@muenchdo this is something that I have been currently working on. Its very alpha & is in my personal github i.e. https://github.com/AmitKumarDas/storage-provisioner

Do review and you can suggest on ways to integrate with auto scalers.

[2019-10-24 12:06] akhilerm commented on #259
Fixed in #298

[2019-10-24 12:06] #259 closed

[2019-10-24 12:19] akhilerm commented on #177
Fixed in #290

[2019-10-24 12:19] #177 closed

[2019-10-24 12:29] akhilerm commented on #84
Added in #236

[2019-10-24 12:29] #84 closed

[2019-11-04 07:50] #294 closed

[2019-11-06 13:11] #188 closed

[2019-11-07 06:07] akhilerm commented on #205
Changes are merged in #218 and #245

[2019-11-07 06:07] #205 closed

[2019-11-07 06:25] akhilerm commented on #12
The design has been changed. Now the Storage pool creation will be done by the SPC controller / CSPC operator and not by NDM.

[2019-11-07 06:25] #12 closed

[2019-11-07 11:15] akhilerm commented on #27
Done in #185 and #58

[2019-11-07 11:15] #27 closed

[2019-12-18 23:32] grzechukol commented on #279
I can confirm that I've encountered this error. Is there any plan to fix this issue? Seen on OpenEBS NDM v0.4.2.

[2019-12-19 08:34] ridewindx commented on #204
A compromised solution is that we can delete the pod once an attach event happened. The pod will be recreated automatically.

[2019-12-20 06:04] akhilerm commented on #204
Another solution I can think of is bind mounting the `/dev` directory. This will ensure all new device files are available inside the container.

[2019-12-20 06:22] akhilerm commented on #279
The kernel does not support per-container core patterns yet.. There is a [patch](https://lore.kernel.org/patchwork/patch/643798/) in linux kernel for making the `core_pattern` support namespaces.
Per container core_pattern is required so that NDM can dump the core files to a specified location without changing the settings on the host machine

[2019-12-27 06:03] akhilerm commented on #279
Fixed in #358

[2019-12-27 06:03] #279 closed

[2020-03-04 03:37] joekhoobyar opened #379 "Add arm builds and create a multi-arch docker image manifest"
I would like to be able to run `openebs/node-disk-operator` on a mixed-arch kubernetes cluster, where I have a few `amd64` and a few `armv7l` architectures.

To do this, it would be great to have a multi-arch docker image to utilize.

Currently, the only image I can access is `quay.io/openebs/node-disk-operator-amd64:v0.4.7`.

I would like to be able to pull `quay.io/openebs/node-disk-operator:v0.

[2020-03-04 04:16] akhilerm commented on #379
Currently, we have `arm64` docker images available only for the `ci` tag, which has lot of changes from the `v0.4.x` releases.
We will raise a PR to add `arm64` docker images for the `v0.4.x` releases and try to include it in `v0.4.8` release.

`node-disk-manager` (NDM) now has support for `arm64` ,`amd64` and `ppc64le` architectures. But, for some other components in `openebs`, auto-building `arm

[2020-03-04 04:20] akhilerm commented on #379
PR #380 adds `arm64` auto-build to `v0.4.x` release branch

[2020-03-04 05:10] akhilerm commented on #379
The PR has been merged. Docker images will be pushed for `arm64` from `v0.4.8`

[2020-03-04 07:11] joekhoobyar commented on #379
@akhilerm, yes `armv7l` is a 32-bit arm architecture.  It corresponds to the `arm` arch target in golang.

Many boards are 32-bit arm, such as: ODroid XU4, Raspberry PI 2 v1.1 or earlier

[2020-03-04 08:29] kmova commented on #379
Hi @joekhoobyar - would you like to contribute towards moving towards a Docker manifest  `quay.io/openebs/node-disk-operator` than can help with pulling different architecture images. Today we have support for amd64,  arm64 and power. If we have a setup in circle ci or github actions that can be used for building `arm7l`, we would love to automate it.

Would love to hear your suggestions?

[2020-03-04 21:42] joekhoobyar commented on #379
I would love to contribute, sure.  I'm sure I have all of the local capabilities to build `amd64` and `arm` arches without needing to run VM(s) and if need be, I could run software virtualized VM(s) to build `arm64` arches.

What do I need to do to get started with you guys?
- What standards should I be following?
- How do you prefer to orchestrate your docker image builds?  Shell scripts driving

[2020-03-06 01:13] joekhoobyar commented on #379
@kmova  - Did you see my above questions?

In the meantime, I will just pull the code down and play with the build, then make a fork.

[2020-03-06 04:28] joekhoobyar commented on #379
@kmova  - On this [branch](https://github.com/joekhoobyar/node-disk-manager/tree/arm32) I am able to successfully build the *arm* binaries using a cross-compiler.

I will move on to the testing the docker image soon, but I am about to go on a weekend trip tomorrow morning, so I need to go pack.  :)

[2020-03-17 07:50] #202 closed

[2020-03-17 12:40] shovanmaity opened #391 "A restart of the NDM daemon pod removes the user's applied labels and annotations."
**What happened**:
A restart of the NDM daemon pod removes the user's applied labels and annotations.
#### label
[code]
#### annotation
[code]
[code]
[code]
[code]
[code]
[code]
**What you expected to happen**:
User's applied labels and annotations should present after restart
**How to reproduce it (as minimally and precisely as possible)**:
Label or annotate any a block device delete ndm daemon p

[2020-03-20 09:07] davidkarlsen commented on #190
When managing the install with helm, this trick can be used: https://github.com/helm/charts/blob/master/stable/cerebro/templates/deployment.yaml#L29 as a change in configmap will trigger a change in annotation which again triggers a rollout.

[2020-03-23 14:57] akhilerm commented on #379
@joekhoobyar  Is it possible to use [buildx](https://docs.docker.com/buildx/working-with-buildx/) to create multi arch docker image and then create the docker manifest like `openebs/node-disk-manager:v0.4.8`?

Currently we are using a combination of Makefile, shell scripts and docker files to create the image. I prefer following a similar pattern for creating the manifest also.

you could refer [t

[2020-04-15 05:08] akhilerm commented on #178
The issue happened due to seachest library corrupting the memory stack. It has been fixed in latest seachest release `Release-19.06.02`. The latest library has been included in build in  #287

[2020-04-15 05:08] #178 closed

[2020-04-26 14:25] cortopy opened #408 "No serviceAccount for cleanup-blockdevice* jobs"
**What steps did you take and what happened:**
 - Create a `StoragePoolClaim` and `StorageClass` for it
- Create PVC and container using it
- Remove everything
- A `cleanup-blockdevice` is created without a serviceAccount
- If the cluster uses PodSecurityPolicy, then the job container won't have psp to be authorised against.

[code]

**What did you expect to happen:**

The job's containers runs wi

[2020-04-26 14:48] akhilerm commented on #408
The service account name is taken from the service account of the ndm-operator deployment.
Can you share the output of `kubectl describe deploy node-disk-operator -n openebs` ?

[2020-04-26 16:02] cortopy commented on #408
thanks @akhilerm for the prompt reply!!

I don't have that deployment. I installed openebs with helm, but I'm guessing it's the same as this one?

[code]

If so it has the `openebs` service account

[2020-04-26 16:31] akhilerm commented on #408
Yes, that's it.
Seems to be a bug in our stable helm charts. The `SERVICE_ACCOUNT_NAME` is missing in the helm charts.

[2020-04-26 18:45] akhilerm commented on #408
Raised a [PR](https://github.com/helm/charts/pull/22136) in helm to fix the issue.

[2020-04-26 20:04] cortopy commented on #408
so quick!! thanks so much

[2020-04-27 05:11] akhilerm commented on #408
Can you try with the updated helm chart and confirm that the issue is resolved?

[2020-04-27 09:56] cortopy commented on #408
working great now, thanks!

[2020-04-27 09:56] #408 closed

[2020-05-07 13:41] #168 closed

[2020-06-10 16:39] sgielen opened #439 "panic in NDM operator: blockdeviceclaim.(*ReconcileBlockDeviceClaim).isDeviceRequestedByThisDeviceClaim(...)"
**What steps did you take and what happened:**
I have a crash loop in my npm operator. I think the crashes started while I was replacing disks. To replace the disks, I followed this process for 3 disks sequentially, provided by the helpful folks on the OpenEBS Slack:

- Pull the old disk (simulated hardware failure, and I couldn't attach more disks to my nodes)
- Insert the new disk
- Make a note

[2020-06-12 06:05] akhilerm commented on #439
Ohkay, So the BDC is Bound to a BD, that is currently not present in the system. We had added a [change](https://github.com/openebs/node-disk-manager/pull/416) in openebs 1.10 to prevent deletion of BDs that are in Claimed state.

[2020-06-12 07:00] sgielen commented on #439
Yes indeed, after the BDC and BD were not used anymore I tried to delete both, but it did not work – the BDC remained, but the BD was deleted, probably causing this issue.

[2020-06-12 08:20] akhilerm commented on #439
Thats because the referencing BD got deleted. When NDM tries to mark the BD as Released, such a device does not exist and it crashes.

Can you try the same scenario with `1.10`, The fix should handle this case also.

[2020-06-12 09:04] sgielen commented on #439
I cannot, but I can try it with 1.11.0-rc1 if that's also OK, since that one contains fixes towards arm64 support that I currently have patched manually.

[2020-06-12 09:07] akhilerm commented on #439
Sure. That should be fine.

[2020-06-13 20:01] sgielen commented on #439
I just upgraded my control plane to 1.11.0 as it was released today. I haven't upgraded my data plane yet. The new pod is running `node-disk-operator` 0.6.0 now:

[code]

However, it is still crashing:

[code]

Should I also upgrade the data plane before attempting this again?

[2020-06-14 15:43] akhilerm commented on #439
@sgielen The bdc `bdc-ebf6da43-64da-4033-8c9b-82cefad4fc0b` is currently not used by  cstor right?
If yes, then you can remove the `bdc-protection` finalizer from it. So that it will get automatically deleted. After that, this issue should not happen.

[2020-06-14 18:35] sgielen commented on #439
I removed the `openebs.io/bdc-protection` finalizer from the BDC and it indeed deleted the `bdc-ebf6da43-64da-4033-8c9b-82cefad4fc0b` immediately. After that, the NDM operator started normally.

Would you like to keep this issue open so that the crash can be resolved? I think it could perhaps be reproduced by creating a BDC with finalizers, referring to a BD that does not exist?

[2020-06-16 17:49] akhilerm commented on #439
Yes @sgielen , we will try to take this up for next release. adding a check for a nonexisting BD should work, I suppose.

[2020-06-18 12:21] akhilerm commented on #439
@sgielen , I am not able to reproduce this crash in my setup. Can you check if you are able to reproduce it. ?

What I tried:
1. Created a BDC (`bdc-1`) and claimed a BD (`bd-abc123`)
2.  Edit the `bd-abc123`, and remove the finalizer and add an annotation `openebs.io/reconcile`, so that the finalizer is not added again
3. Delete the `bd-abc123`.
4. Delete `bdc-1`.

and the BDC was successfully de

[2020-06-19 09:05] #379 closed

[2020-06-30 08:19] harshthakur9030 commented on #243
This issue is fixed by https://github.com/openebs/node-disk-manager/pull/386 .

[2020-06-30 09:15] akhilerm commented on #243
Closing this issue as the disk resource has been deprecated in #326 , #427  and blockdevice resource now supports partitions.

[2020-06-30 09:15] #243 closed

[2020-07-07 12:18] harshthakur9030 opened #451 "Exporter : Expose exisiting seachest data to prometheus"
**Describe the problem/challenge you have**
Currently, there's no seachest data except temperature being exposed by prometheus.

**Describe the solution you'd like**
Expose more seachest data like latency, R/W bytes, etc

**Anything else you would like to add:**
Following data is already available :
* HighestTemperature
* LowestTempearature
* RotationalLatency
* Capacity
* LogicalSectorSize
* Phys

[2020-07-07 12:23] harshthakur9030 commented on #204
Another solution would be to fix https://github.com/openebs/node-disk-manager/issues/203

[2020-07-07 12:27] harshthakur9030 commented on #44
@akhilerm we can probably close this, I guess.

[2020-07-07 12:33] harshthakur9030 commented on #39
@AmitKumarDas , can you please explain how NDM fits with external provisioners? Noticed your work here: https://github.com/AmitKumarDas/storage-provisioner . Right now, in the provisioner property, we supply one by openebs which picks from storage pools, etc. How would it differ using this?

[2020-07-07 12:37] AmitKumarDas commented on #39
https://github.com/mayadata-io/storage-provisioner is the current repo.
This can interact with any CSI drivers to provision storage (read GPD, EBS, etc), attach them to nodes & hence make them discoverable via NDM.

[2020-07-30 23:21] richardelling opened #465 "port 9090 is too popular, APIService should use another by default"
**What steps did you take and what happened:**
Port 9090 is often in use by other tooling, such as prometheus and cephcsi. Unfortunately,
this hardcoded in api.go and this will fail to start node-disk-manager if the APIService feature
is enabled (as it is in master today).

**What did you expect to happen:**
The ndm environment should make the grpc port configurable for its consumers.

**The outpu

[2020-07-31 02:56] harshthakur9030 commented on #465
Hey @richardelling !  I'll make it configurable soon, what do you suggest we use by default?

[2020-07-31 04:24] richardelling commented on #465
9112-9118 are currently unassigned
see iana.org
if Evan wants to spend a few $$, then we can get one registered

[2020-08-04 11:40] akhilerm commented on #224
@rahulchheda  you can take it up.

[2020-08-05 13:28] #465 closed

[2020-08-27 11:20] apr1809 commented on #439
@akhilerm I faced a similar issue when I tried to delete BD corresponding to terminated nodes. Since it was not getting deleted, removed the finalizer. It got deleted after that. But then, I could see NDM operator pod is crashing repeatedly with the below error:

E0827 10:43:27.142997       1 runtime.go:78] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: inval

[2020-09-03 07:05] #439 closed

[2020-09-09 08:45] rahulchheda commented on #314
Why not use KIND?

[2020-09-14 17:36] #224 closed

[2020-09-29 16:06] akhilerm commented on #314
In the integration tests, we are using some disk attach/detach cases by creating a loop device. Need to try out if it works on KIND,

[2020-09-30 11:06] #451 closed

[2020-10-05 00:45] avats-dev commented on #253
@akhilerm I can try this one too. What do you think?

[2020-10-05 05:10] akhilerm commented on #253
Sure @avats-dev , you can work on it. Thanks for taking it up.

[2020-10-05 05:12] akhilerm commented on #253
[This](https://github.com/openebs/node-disk-manager/blob/master/cmd/ndm_daemonset/probe/mountprobe.go) is the file for which you want to write the test. You can check out other test files in the same package to see, how tests are structured and how they are written in golang.

[2020-10-06 08:32] akhilerm commented on #253
@avats-dev , If you have any doubts regarding the tests or implementation, you can raise your queries in the [`#openebs-dev`](https://kubernetes.slack.com/messages/openebs/) channel in [kubernetes slack workspace](https://openebs.io/community).

[2020-10-11 11:32] utkarshmani1997 opened #501 "NDM should be able to run on mac (minikube in docker)"
**Describe the problem/challenge you have**
NDM pod is stuck in creating state in MAC

**Describe the solution you'd like**
NDM pods should be able to come up in minikube in docker on MAC

**Anything else you would like to add:**
Since /run/udev is not found its stuck in creating state.
[code]

`uname -a`:
[code]

**Environment:**
- OpenEBS version
- Kubernetes version (use `kubectl version`):
- K

[2020-10-12 05:59] akhilerm commented on #501
@utkarshmani1997 . We havent tested running NDM on windows / mac.

Does Mac have udev support? Also how is docker run in mac. Is it in a VM?

[2020-10-15 11:30] akhilerm commented on #253
@avats-dev Are there any updates on this issue?

[2020-10-28 07:20] akhilerm commented on #253
@avats-dev Will you be able to work on this issue. Else, I can unassign and free up the issue for others to take up.

[2020-11-01 02:23] kmova commented on #501
Works when I install minikube using Docker machine:

[code]

---

[code]
---

[code]

---

[code]

[2020-12-02 06:05] maxisam commented on #439
so how exactly do we delete a blockdeviceclaim? I can't find this in the document.

I have deleted the PVC and PV but blockdeviceclaim is still there.

[2020-12-02 06:18] akhilerm commented on #439
If you are using cstor, the blockdeviceclaim will be deleted only when the cstor pools are deleted.
If LocalPV is used, the blockdevice claim will be delete as soon as the PVC gets deleted.

If the BDCs still exist in the cluster, after the above steps, then you can edit and remove the finalizers on the BDC and then delete the blockdeviceclaim.

There is an [issue](https://github.com/openebs/opene

[2020-12-02 10:42] Mosibi opened #514 "LVM: Disk filtering on /dev/mapper/<vg>-<lv> or /dev/<vg>/<lv> should be possible"
**Describe the problem/challenge you have**
I would like to use LVM backed disks and filter them on the name of the volume group and the logical volume name. If I use a filter like this `includePaths: "/dev/mapper/vg_storage-lv_storage_01,/dev/dm-10"`, I only get a blockdevice bound to /dev/dm-10 and not the blockdevice /dev/dm-6, which in this case is bound to /dev/mapper/vg_storage-lv_storage_01

[2020-12-03 04:50] harshthakur9030 opened #515 "NDM is crashing on fresh GKE cluster"
**What steps did you take and what happened:**
I installed NDM on fresh GKE cluster.
This issue is happening from 0.9.x

**What did you expect to happen:**
NDM to function

**The output of the following commands will help us better understand what's going on**:
[Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.]

https://pastebin.com/X2BGnpYZ

**Anything

[2020-12-03 11:53] akhilerm commented on #515
The panic is occuring when trying to parse the `/proc/cmdline` file. In GKE, the file contents is as follow:
[code]

and the root is defined at `root=/dev/dm-0`, which is different from the expected format causing a parse error.
cc: @zlymeda , Do you have any ideas on this?

[2020-12-03 12:17] zlymeda commented on #515
Hi @harshthakur9030
Is the /dev/dm-0 real device? or is it a symlink?

can you provide an output for
`ls -l /dev/ | grep dm-0`

thanks

[2020-12-03 14:59] #515 closed

[2020-12-08 05:50] utkarshmani1997 commented on #501
There is native support for MAC added recently on [AWS](https://aws.amazon.com/about-aws/whats-new/2020/11/announcing-amazon-ec2-mac-instances-for-macos/). As there is lot of interests growing for the same, it will great to look for an alternative like [diskutil](https://ss64.com/osx/diskutil.html)

[2021-01-25 18:18] Z0Marlin commented on #253
@akhilerm anyone working on this issue? I can take this up

[2021-01-25 18:22] akhilerm commented on #253
Sure @Z0Marlin . I will assign to you.

[2021-02-02 06:51] akhilerm commented on #11
Closing as NDM design has been changed and there will be separate controllers watching for pool custom resources.

[2021-02-02 06:51] #11 closed

[2021-02-03 12:39] akhilerm commented on #41
Closing as we are moving from travis to github actions.

[2021-02-03 12:39] #41 closed

[2021-02-03 12:41] akhilerm commented on #44
Closing as golang implementation of SMART is now merged.

[2021-02-03 12:41] #44 closed

[2021-02-03 12:43] akhilerm commented on #46
Closing as NDM does not create filesystem on the disk and is out of scope of NDM.

[2021-02-03 12:43] #46 closed

[2021-02-03 12:45] akhilerm commented on #50
Closing since this could not be observed using select call.

[2021-02-03 12:45] #50 closed

[2021-02-03 12:47] akhilerm commented on #69
FIxed by mounting `/proc` directory of the host inside the container

[2021-02-03 12:47] #69 closed

[2021-02-03 12:49] akhilerm commented on #72
Multiple probes (capacity, SMART and Seachest) are now available in NDM to detect disk size, sector sizes etc.

[2021-02-03 12:49] #72 closed

[2021-02-03 12:52] akhilerm commented on #74
`used-by-probe` is available in NDM to detect disks that are already used by openebs storage engines. NDM also detects disks that are in use by DM devices(lvm, crypt etc).

[2021-02-03 12:52] #74 closed

[2021-02-03 12:53] akhilerm commented on #89
Sparse file creation and detection are now part of the integration tests

[2021-02-03 12:53] #89 closed

[2021-02-03 12:57] akhilerm commented on #249
Closing as disk resources are deprecated / removed in favour of blockdevice resources.

[2021-02-03 12:57] #249 closed

[2021-02-03 13:01] akhilerm commented on #208
NDM has a grpc endpoint which listens on 9115, and can be configured using `api-service-address` flag

[2021-02-03 13:01] #208 closed

[2021-02-03 13:03] akhilerm commented on #239
@kmova How should we take this up?

[2021-02-04 04:43] akhilerm commented on #186
Disk resources are not deprecated and removed from NDM. OS disk detection is now changed and further flags are available to configure the filter. (`UseOSDisk`)

[2021-02-04 04:43] #186 closed

[2021-02-04 04:45] akhilerm commented on #164
Closing as the changes are no more required as per discussions in #174

[2021-02-04 04:45] #164 closed

[2021-02-04 04:48] #161 closed

[2021-02-04 04:54] akhilerm commented on #143
Done in #185

[2021-02-04 04:54] #143 closed

[2021-02-04 04:56] akhilerm commented on #97
Changes are merged as part of multiple PRs

[2021-02-04 04:56] #97 closed

[2021-02-04 04:57] akhilerm commented on #94
This issue is irrelevant now as the codebase has changed and disk type is removed.

[2021-02-04 04:57] #94 closed

[2021-02-04 04:58] akhilerm commented on #85
As part of the integration tests now present in the repo, the details filled by udev probe are checked by default when creating blockdevice resources.

[2021-02-04 04:58] #85 closed

[2021-02-04 22:45] joshuacox commented on #239
I'm not even certain this is a good idea anymore.  Perhaps as a backup scenario.  But this goes a bit against what openEBS is doing in terms of scaling well horizontally as nodes are added to the system (that have open block storage).  For example, in a given scenario say an elastic search cluster, if they are all hammering the same SAN that SAN becomes the bottleneck and sort of works against any

[2021-03-15 15:05] #253 closed

[2021-03-21 09:23] z0marlin opened #558 "NDM BlockDevice should support multiple mount points"
Partitions can have multiple mount points in Linux. While the BlockDevice struct in NDM [supports this](https://github.com/openebs/node-disk-manager/blob/b77aa7f29cfb9043a56b02c71c3182920d8192ed/blockdevice/blockdevice.go#L256), the BlockDevice k8s API resource can only store a single mount point.

https://github.com/openebs/node-disk-manager/blob/e4f921ce4494fc02e71a07669d4a6804de86cb9a/pkg/apis/

[2021-04-14 13:35] Z0Marlin commented on #558
@akhilerm is there any discussion required in this issue or should I go ahead with the patch?

[2021-04-19 05:44] akhilerm commented on #558
@Z0Marlin It can be directly updated because that will require a change in the version of the resource. This is one change that we have planned while migrating blockdevice to v1 . Another issue which also falls in the same category is [this](https://github.com/openebs/openebs/issues/2837).

You can make all the internal changes such that all the mountpoints get fetched using the mountprobe and sto

[2021-04-19 05:52] Z0Marlin commented on #558
I see. So we can't make changes to the crd yet. All right, I'll make changes in the mount package to return all mount points and then mount probe can only select the first one.

[2021-04-20 09:02] kmova opened #567 "NDM - GitHub Updates"
- [ ] README Updates
  - [x] Badges
  - [x] Project Status - Beta
  - [x] k8s version compatibility
  - [x] Quickstart guide
  - [x] Contributor Docs
  - [x] Adopters.md with links to openebs/openebs adopters
  - [x] Roadmap link to openebs project
  - [x] Community Links
- [x] Helm Charts
- [x] GitHub Builds
- [x] Multiarch builds
- [x] Disable Travis
- [ ] ~Downstream tagging~
- [x] e2e tests
-

[2021-05-10 18:07] z0marlin opened #589 "TestUdevProbe fails with SIGSEGV in certain systems"
[`TestUdevProbe`](https://github.com/openebs/node-disk-manager/blob/110066c2d6626ba26b55660b6e9a00294140b6be/cmd/ndm_daemonset/probe/udevprobe_test.go#L136) returns SIGSEGV after trying to create a GPT partition on a disk that is currently being used by the system.

Crash logs can be found in [this pastebin](https://pastebin.com/i9QNMdwG).

The issue seems to occur in cases when ndm isn't able to

[2021-05-10 18:07] Z0Marlin commented on #589
@akhilerm

[2021-05-12 23:37] RealHarshThakur commented on #558
@akhilerm  We could add a new field called `MountPoints` of type `[]string` which would store all the mount points. Adding new fields in the CRD without version change is fine as there's no best practice around this upstream too. All we have to do is ensure that the user has applied the CRD with the new field, this can be done via a preupgrade job too. WDYT?

[2021-05-13 12:42] akhilerm commented on #558
yes @RealHarshThakur .Thats a valid point and we can do it. But in that case, the resource will be having 2 mountpoint fields, `Mountpoint string` and `Mountpoints []string`. Should check if its okay to do so . cc: @kmova If its fine, then we can include mountpoints and while migrating remove the other field.

@Z0Marlin , if we do as @RealHarshThakur mentioned then you can straightaway implement t

[2021-05-13 13:07] RealHarshThakur commented on #558
Yeah, that would be small inconvenience we'll face until we move to next API version but we can avoid confusing the end users by just populating the `Mountpoints` field and leaving the `Mountpoint` empty. Similar change in kubectl output as well .
From implementation perspective, we can just stop using the `Mountpoint` field in the controllers.

[2021-05-20 12:27] z0marlin commented on #558
@RealHarshThakur can we reopen this issue? It also includes updating the BD crd which isn't done yet.

[2021-05-20 13:02] akhilerm commented on #558
Reopening as blockdevice custom resource needs to be updated with multiple mount points.

[2021-05-24 14:26] z0marlin commented on #589
This issue seems to be related to skipping error checks in the tests in multiple places. Adding appropriate checks should mitigate the issue.

[2021-05-24 16:00] akhilerm commented on #589
Is only adding error check required? Dont we need also need to look at tests and say why the error is happening?

[2021-05-24 16:23] z0marlin commented on #589
In the `TestUdevProbe` case, it tries fetching the blockdevice using the API client. But the device couldn't be added in the first place because a uuid couldn't be generated. The error check is skipped and a nil pointer is dereferenced. The other tests that might fail also seem to have similar calls. I'll check once if the underlying reason is the same.

[2021-05-25 08:41] z0marlin commented on #589
All right, I have narrowed down this issue to `TestUdevProbe` only. But I also find some other issues in the unit tests. They aren't related to this but need fixing. One such issue can be found in `TestSysFsDeviceGetHolders` in [syspath_test.go](https://github.com/openebs/node-disk-manager/blob/9d601918ec8c34f2fdc82e647c979eb232d7c61a/pkg/sysfs/syspath_test.go). This test passes the first time it

[2021-06-02 12:22] #589 closed

[2021-06-16 06:58] kmova opened #597 "[Design] use NDM packages in Device CSI Driver"

[2021-07-08 11:12] z0marlin opened #625 "Fix flaky integration tests in NDM"
The integration tests for [node-disk-manager]() are flaky and fail frequently. Often, a couple of re-runs of the pipeline are required for the tests to pass. These tests need to be fixed.
Here are the links to some of the flaky test runs:
- https://github.com/openebs/node-disk-manager/runs/3015365349?check_suite_focus=true, https://github.com/openebs/node-disk-manager/runs/3015625720?check_suite_f

[2021-07-19 09:59] #567 closed

[2021-07-20 08:04] mittachaitu opened #608 "NDM is unable to create sparse based pool"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and the sequence of operations performed / commands you ran.]
- Installed OpenEBS cStor by following the steps mentioned [here](https://openebs.github.io/cstor-operators/) by enabling
  `openebsNDM.enabled=true`
- Updated the `SPARSE_FILE_COUNT` env to 1 and NDM is not able to create a sparse based

[2021-07-30 14:10] dborman-hpe opened #610 "NDM fails to configure disks, after restarting the pod it works correctly"
**What steps did you take and what happened:**
During the initial install, there were two disks available for NDM to configure as block devices.  Only one disk got configured, and it was in the Inactive state.  When I deleted the ndm pod, the replacement pod came up, found, and activated both disks.

**What did you expect to happen:**
Normally ndm will find and activate the disks when it comes up.

[2021-08-15 03:33] kmova opened #615 "Add device attributes and location details as labels to BD resources"
**Describe the problem/challenge you have**

There is no easy way to filter the block device resources based on generic attributes like - drive type, model/vendor. This limits the flexibility in terms of how a block device can be used by high-level abstractions like Device Local PV - which should specify the type of block devices to be used for a given storage class. [ Ref: https://github.com/open

[2021-08-16 05:06] Nivedita-coder commented on #316
I would like to work on this issue.

[2021-08-16 05:08] akhilerm commented on #316
@Nivedita-coder I has assigned the issue.

[2021-08-24 14:04] mittachaitu commented on #608
Verified with the latest version NDM daemonset is able to create sparse file block devices
[code]
[code]
- Output of get pods in namespace of openebs
[code]
[code]
- Output of `kubectl get bd <bd_name> -o yaml`
[code]

Note:
- Verified via both helm-chart changes as well as vanilla way both type of installation able to create sparse based blockdevices.

Please feel free to re-open if you issue sti

[2021-08-24 14:04] #608 closed

[2021-08-25 06:54] Ab-hishek commented on #615
kubernetes.io/hostname=gke-kmova-helm-default-pool-30f2c6c6-qf2w,
kubernetes.io/arch=amd64,
beta.kubernetes.io/instance-type=n1-standard-2,
failure-domain.beta.kubernetes.io/region=us-central1,
failure-domain.beta.kubernetes.io/zone=us-central1-a,
node.kubernetes.io/instance-type=n1-standard-2,
topology.kubernetes.io/region=us-central1,
topology.kubernetes.io/zone=us-central1-a

Does this label re

[2021-08-25 12:19] akhilerm commented on #597
The `udevevent` package has already been decoupled from the probe and controller.

Identified list of remaining changes:
1. The other packages that need to be refactored, that are currently under `cmd/ndm-daemonset`.
2. Check in device-localpv for functionality that can be moved into NDM (eg: creating partitions, finding free slots).

A few more refactoring changes are needed that are listed [here

[2021-08-25 12:24] akhilerm commented on #558
At this point, we are not seeing a use case for modifying the CRD to support multiple mount points.

[2021-08-25 12:24] #558 closed

[2021-08-25 12:27] akhilerm commented on #501
NDM has a hard dependency on system udev for discovering the devices. Unless, we add other ways of discovering devices, this cannot be supported.

[2021-08-25 12:27] #501 closed

[2021-08-25 12:30] akhilerm commented on #314
All the builds and tests has been migrated to github actions and multiarch images are created now. Therefore, moving to kubeadm based cluster is no longer required.

[2021-08-25 12:30] #314 closed

[2021-08-25 12:37] akhilerm commented on #280
Since the CRD installation is no more done from the operator, the NDM pod need not restart to get the latest changes.

[2021-08-25 12:37] #280 closed

[2021-08-25 12:40] akhilerm commented on #274
This was an operator SDK bug which caused issues with leader election of the new controller pod. Currently we are using controller -runtime for the same.

[2021-08-25 12:40] #274 closed

[2021-08-25 12:42] akhilerm commented on #261
CRD installation is now moved outside the code and will be installed by package managers like helm. Daemonset installation will also be done in the same method. Operator will just be handling the resources that are created/managed by NDM.

[2021-08-25 12:42] #261 closed

[2021-08-25 12:43] akhilerm commented on #239
The requirement is no longer valid and not in the current roadmap.

[2021-08-25 12:43] #239 closed

[2021-08-25 12:46] akhilerm commented on #39
NDM does not handle provisioning, it just manages the disk discovery,  so that higher level operators can make use of it as explained [here](https://github.com/openebs/node-disk-manager#readme)

[2021-08-25 12:46] #39 closed

[2021-08-25 12:47] akhilerm commented on #16
NDM will be used only for device discovery on the nodes.

[2021-08-25 12:47] #16 closed

[2021-08-25 12:48] akhilerm commented on #17
NDM will detect only devices that are connected to the node, and wont be handling the actual connection of those devices.

[2021-08-25 12:48] #17 closed

[2021-08-25 12:49] akhilerm commented on #28
openSeachest is currently used to get this data and expose them as prometheus metrics.

[2021-08-25 12:49] #28 closed

[2021-08-25 12:50] akhilerm commented on #29
Disk usage metrics are collected using seachest and exposed as prometheus metrics using the ndm-exporter

[2021-08-25 12:50] #29 closed

[2021-08-25 12:51] akhilerm commented on #203
Since NDM requires access to udev, procfs and sysfs of the host machine, NDM will have to be run in privileged mode.

[2021-08-25 12:51] #203 closed

[2021-08-25 12:54] akhilerm commented on #42
NDM currently exposes the metrics that can be used along with metrics from NPD. Both these metrics together can be used for problem monitoring with help from dashboards like grafana.

[2021-08-25 12:54] #42 closed

[2021-08-26 07:11] cospotato opened #620 "[Request] Allow disk only have ID_SERIAL without ID_WWN with udevprobe to get bd name"
**Describe the problem/challenge you have**

I found that the udev rule of some linux distribution lost `ID_WWN` assign for NVMe device but assign `ID_SERIAL`.

The NVMe part of `60-persistent-storage.rules`

[code]

`udevadm` output

[code]

NDM log

[code]

**Describe the solution you'd like**
Can we use the `ID_SERIAL` only to get the disk hash and don't create the stand-alone partition?

[2021-08-27 06:41] #620 closed, assigned to nobody

[2021-08-27 06:57] cospotato opened #621 "[proposal] use `DiskGUID` instead of `PartitionUUID`"
**Describe the problem/challenge you have**
The implementation of disk identification described in [oep(NDM 0001)](https://github.com/openebs/openebs/blob/master/contribute/design/1.x/ndm/20190705-ndm-disk-identification.md#disk-identification-using-gpt-partitions) will create a GPT partition spans the complete disk for identification. Which cause user cannot re-partition the disk.

**Describe the

[2021-08-29 01:28] kmova commented on #621
@cospotato One of the reasons for creating a partition was - when the block device is provided to an application like cstor, it would reformat the entire disk, overwriting the uuid.

how are you planning to use the NDM? we could enhance the following code to take a flag and allow for only creating the partition table:

[2021-08-29 01:33] kmova opened #622 "Update NDM user documention"
The user docs are listed under ndm repo, openebs docs and ndm repo wiki.

This issue is raised to refactor user documentation for NDM that will include:
- Overview of NDM
- Use cases and applications of NDM
- NDM / K8s compatibility matrix
- NDM Feature documentation
- NDM API

[2021-08-29 01:35] kmova opened #623 "Update NDM design docs"
The NDM related design docs from openebs/openebs should be moved to NDM repo to make NDM fully self-contained. Also the current design docs in NDM need to be updated to reflect the latest implementation.

[2021-08-29 01:37] kmova opened #624 "Enhance NDM CI"
-  Add thread-safe tests to check that there are no multi-thread issues.
- Security scanner for the container repos

[2021-08-29 01:45] kmova commented on #291
The implementation of this feature should consider enhancing the NDM Operator to identify stale BDs and take corrective actions.

[2021-08-29 01:56] kmova opened #626 "Refactor NDM code under cmd/"
Move some of the code from /cmd folder into parent folder and keep the /cmd only for launching the service by pulling in different packages together.

- Move Probe logic from cmd/ndm-daemonset to /probes.
- Move Filter logic from cmd/ndm-daemonset to /filter.

[2021-08-29 02:38] kmova opened #627 "Support for block device mounted on multiple nodes."
Example: a single device being mounted in 2 nodes. (SAS Backends), or a network-attached device.

In the current behavior, the last node that discovers a block device, will assume the ownership of the block device and sets its own node-id as the owner.

One option to enhance this functionality is to:
- add a check in the discovery probe to ensure that - the node that is currently assigned still ex

[2021-08-29 02:38] kmova opened #628 "Refactor: Base image for building NDM images."
Currently the build process takes a long time because the seachest code needs to be compiled everytime, even though the code will not change frequently. A functionality should be added such
- there is a build container which only gets updated when any dependencies change (manually upgrading version). The dependencies are openseachest, udev and blkid libraries.
- If the build container for a versio

[2021-08-29 03:10] kmova opened #629 "Discover Chassis/Enclosure information of block devices."
This helps as more devices are connected from on-prem setups, to identify their physical location.

[2021-08-29 03:19] kmova opened #630 "Enhance: use exponential delays in reconciliation for BDC controller."
The BDC controller should first check 5 times at an interval of 10 seconds, to find a matching BD. If the BDC remains in pending state the delay should increase exponentially, similar to how kubernetes reconciler works.

[2021-08-29 03:21] kmova opened #631 "NDM should handle the case of virtual disk expansion"
Created as part of the review  of https://github.com/openebs/node-disk-manager/pull/386

In the case of virtual disks, NDM creates a default partition on the device.

At a later point if the user expands the virtual disk, then NDM should detect the resize and expand the default partition capacity to include the additional capacity available on the device.

[2021-08-29 03:25] kmova opened #632 "Different types of metrics should be collected at different intervals."
This is because some metrics can cause a performance impact and should be collected only at scheduled intervals.

[2021-08-29 03:29] kmova opened #633 "Add support local storage provisioning like creation ZFS pools"
Most of the Local CSI drivers depending the storage to be provisioned to start creating local volumes on top of them.

eg: creation of zfs pools, lvm vgs or creating partitions.
eg: clean-up of pre-existing filesystems and unmount

One alternate solution currently used is to have these operations performed as part of the node prep stage.

The implementation of this be driven through a pool spec.

[2021-08-29 06:55] kmova opened #634 "Enhance the discovery probe for LVM volumes"
For example, instead of `dm-0`, use  the corresponding `/dev/mapper/<vg-name>-<lv-name>` as path in the bd

[2021-08-30 02:00] cospotato commented on #621
Hello @kmova ,

My use case was - i want to reformat the entire disk to specific layout (multi partitions). So how the CStor reformat the disk and keep the partition UUID never changed ?

[2021-08-30 07:28] z0marlin commented on #615
@kmova should we use the ndm configmap instead of env for configuring the list of labels? This would keep the setting uniform across the nodes.

[2021-08-30 15:54] akhilerm commented on #621
@cospotato . If you reformat the disk and create multiple partitions yourself, NDM will detect each partition and create a resource for them. Does that solve your issue?

[2021-08-31 01:59] cospotato commented on #621
hello @akhilerm . No. I prefer the NDM only record the origin device but don't care about the partitions change on that device. Like the behavior now -- if parent device recorded then ignore the sub-device.

[2021-09-05 05:11] cospotato commented on #621
Hello @akhilerm ! I committed a patch at #635 . Would you please add some advice ?

[2021-09-05 06:41] kmova opened #638 "Enhance the details storage on BD when the device has zpool."
**Describe the problem/challenge you have**
I have a zpool created on the block devices on the node.

[code]

NDM detects that zpool exists on the device and updates the tag `openebs.io/block-device-tag`:
[code]

The filesystem isn't updated though.

**Describe the solution you'd like**

Similar to LVM2 devices, the fsType should be updated saying the block device has ZFS.
Example, in case LVM, th

[2021-09-06 12:03] akhilerm commented on #625
Fixed in PR #616.

Two changes were made to remove the flakiness:
1. The channel between epoll on `/proc/1/mounts` and mountprobe listener was [buffered](https://github.com/openebs/node-disk-manager/blob/eb1aa4b63a9fe0b3e6ef555e1c9528f095cb8680/cmd/ndm_daemonset/probe/mountprobe.go#L152), so that we dont loose mount change events if large no. of events are occuring on the system.
2. integration te

[2021-09-06 12:03] #625 closed

[2021-09-07 05:05] akhilerm commented on #628
cc: @z0marlin  will pick this up.

[2021-09-07 11:22] akhilerm commented on #628
You can possibly create a new workflow, that builds an `ndm-base:[date|commit]` . This workflow should only get triggered when some dependencies are updated.  The dependencies are golang version, openseachest version and the base image like ubuntu 18 or 20.

This is just one idea that came into mind, you can try out other approaches also.

[2021-09-08 07:32] superleo opened #640 "make release for opensean blocked by common.h file not found"
**What steps did you take and what happened:**
Try to build openSeaChest
[code]
**What did you expect to happen:**
- Build succesfully and the library file created

**The output of the following commands will help us better understand what's going on**:
[code]

**Environment:**
CentOS Linux release 7.9.2009 (Core)

[2021-09-08 07:34] akhilerm commented on #640
@superleo Did you clone the submodules also for openseachest? Ref [here](https://github.com/openebs/node-disk-manager/blob/master/build/install-dep.sh#L29)

[2021-09-08 10:11] superleo commented on #640
@akhilerm thank you akhilerm, I missed the submodule. And resolved by `git submodule update --init --recursive`

[2021-09-08 10:11] #640 closed

[2021-09-09 08:59] liuminjian opened #642 "partprobe not work, maybe udev cache problem"
## Description

sometimes when i delete a workload with block device , the cleanup job will wipefs the block device filesystem. but i still can see the filesystem in the host. after i execute partprobe command , the disk filesystem info will be reloaded.i think this is a udev problem and cleanup job also execute the partprobe command but not work.

## Screenshots

![image](https://user-images.gith

[2021-09-13 09:05] cospotato commented on #621
Hello @kmova ! I committed a patch at #635 to add a feature about this issue. Would you please add some advice ?

[2021-09-29 06:47] akhilerm opened #651 "Enhance feature gate package to add support for dependent feature gates"
**Describe the problem/challenge you have**
The current [feature](https://github.com/openebs/node-disk-manager/tree/develop/pkg/features) supports adding features, and setting the default value of features. But there can be cases like one feature can be dependent on another. This functionality should also be included.

for example:
if A is dependent on B, and B is set to False, then A should defau

[2021-10-07 09:17] jdkramhoft commented on #651
I'd like to work on this
Should I simply enable support and add test cases, or should I also add UsePartTableUUID as a default supported feature string with GPTBasedUUID as a dependency?

[2021-10-07 11:46] akhilerm commented on #651
Thanks @jdkramhoft .

Enabling support and adding test cases should be enough as the `UsePartTableUUID` changes are not yet merged.

[2021-10-12 13:55] superleo opened #654 "ndm_daemonset/probe Unit test fail"
Unit test Fail:
ENV: Centos7.9

1. run:

`sudo -E env "PATH=$PATH" go test github.com/openebs/node-disk-manager/cmd/ndm_daemonset/probe`

2. get:

`I1012 21:32:25.751120  593649 probe.go:89] configured fake-probe : state enable
--- FAIL: TestFillDiskDetailsBySmart (0.00s)
    smartprobe_test.go:92: the device type is not supported yet, device type: "unknown"
--- FAIL: TestFillDiskDetails (0.00s)

[2021-10-13 05:57] Nivedita-coder commented on #622
Hey @kmova, I want to work on this issue.

[2021-11-16 05:00] #651 closed, assigned to jdkramhoft

[2021-11-19 05:25] #621 closed

[2021-11-23 06:18] #615 closed

[2021-11-25 03:50] #628 closed

[2021-11-30 04:23] liuminjian opened #656 "Some devices do not have ID_WWN ID_VENDOR and resulting in duplicate uuid generated"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and the sequence of operations performed / commands you ran.]

i have some ssd devices which do not have ID_WWN ID_VENDOR property. so this device will generate the same uuid.
how to fix this problem.

![image](https://user-images.githubusercontent.com/7840869/143985231-49919eda-7c1a-439f-9a38-b5023

[2021-11-30 04:30] akhilerm commented on #656
@liuminjian Can you also provide the feature flags that you are passing to NDM, along with NDM pod logs from the node where this issue is happening.

[2021-11-30 05:04] liuminjian commented on #656
i did not pass feature-gates to ndm. The log content is as follows.

![image](https://user-images.githubusercontent.com/7840869/143988333-b0034778-c03d-4106-85fc-e4f258c1bd02.png)

i have a disk sdi on node 1 and sdf on node 2. the disk uuid is generated by ID_WWN ID_VENDOR ID_MODEL ID_SERIAL_SHORT.  but sdi and sdf does not have ID_WWN ID_VENDOR . so they get the same uuid.

[2021-11-30 05:56] akhilerm commented on #656
NDM by default uses the feature gate `GPTBasedUUID`. If it is enabled, then this issue should not occur. NDM will go ahead and create partitions if the WWN is empty.

Can you share the initial log section, where it shows the feature gates that are active on the NDM daemon.

[2021-11-30 06:39] Icedroid commented on #656
Our two k8s node 192.168.189.62 and 192.168.189.75 disk /dev/sdi on  192.168.189.62 and /dev/sdf on 192.168.189.75 has same ID_MODEL And  ID_SERIAL. So BD uuid is same. NDM found only one BD.

Node 192.168.189.62:
`# udevadm info --query=all --name=/dev/sdi|grep -wE 'ID_WWN|ID_VENDOR|ID_MODEL|ID_SERIAL`

E: ID_SERIAL=Samsung_SSD_860_EVO_1TB_2105T1128A000124

Node 192.168.189.75:
`# udevadm info --

[2021-11-30 06:41] akhilerm commented on #656
@Icedroid Can you check if the `GPTBasedUUID` feature is set to enable?

[2021-11-30 06:51] Icedroid commented on #656
@akhilerm The GPTBasedUUID feature didn't match this issue. We use one rawdisk for one bd. Don't want one gpt part as a bd.

[2021-11-30 06:57] akhilerm commented on #656
`GPTBasedUUID` was introduced to solve this exact use case, where a disk does not have any uniquely identifiable information (like WWN).

I guess your use case is, the disks does not have any uniquely identifiable information, but you still want to use the disk as a whole without needing any GPT partitions on it.

[2021-11-30 07:03] Icedroid commented on #656
Right. We want to use the disk as a whole without needing any GPT partitions on it.  Must open GPTBasedUUID feature? The feature let NDM auto parted my raw disk add a gpt partition, then bd link to the gpt partition?

[2021-11-30 07:06] Icedroid commented on #656
Now our ndm init start log:
[code]

[2021-11-30 07:10] akhilerm commented on #656
yes you should enable it. Or in latest version of NDM, the feature is enabled by default.

Yes, One single partition will be created that spans the entire disk, and the BD will be created for this partition.

[2021-11-30 07:26] Icedroid commented on #656
Because our production enviroment many BD has been Claimed. If now open GPTBasedUUID feature, the old BD name will regenerate? will it affect the running of vm or pod which mounted old bd?

[2021-12-20 00:18] TyR3x123 opened #659 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-20 08:54] Icedroid opened #660 "BlockDevice name not unique, same ssd disk generate dulplicate BlockDevices"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and the sequence of operations performed / commands you ran.]

When the BlockDevice Claimed, I run into container use the bd in LVM filesystem. Then after upgarde node-disk-manager to 0.7.2 from 0.7.1. I found dulplicate BlockDevices generated.

**What did you expect to happen:**
Same nvme disk only

[2021-12-20 12:14] akhilerm commented on #660
Can you share the logs from the the NDM pod and also the output of `lslbk` from the node. Also when was the disk formatted with xfs filesystem?

[2021-12-20 12:55] Icedroid commented on #660
@akhilerm I found the bug in these code, when ID_TYPE is empty and the k8s node hostname changed, the bd name will change.

* `udevadm info --query=all --name=/dev/nvme5n1|grep -wE 'ID_WWN|ID_VENDOR|ID_MODEL|ID_SERIAL|ID_TYPE|DEVNAME'`
[code]

![image](https://user-images.githubusercontent.com/674647/146770187-b194cdb5-a0ec-49b9-8482-8ab08d14c34e.png)

[2021-12-20 13:05] akhilerm commented on #660
This is the old algorithm that we use to generate UUIDs. Currently there is a `GPTBasedUUID` feature flag which is enabled by default, which causes a [different UUID](https://github.com/openebs/node-disk-manager/blob/develop/cmd/ndm_daemonset/probe/uuid.go#L31) algorithm to be used. This GPT based algorithm does not have the issue of the UUID getting changed when node name gets changed.

[2021-12-20 13:26] Icedroid commented on #660
@akhilerm For many online customer reason, now we couldn't upgrade NDM Feauture: GPTBasedUUID. We plan to think about upgrade smoothly. The ndm new version 1.7.2 compatible with ndm 0..7.2 and  openebs/provisioner-localpv:2.12.0 and openebs/m-apiserver:1.12.0?

[2021-12-22 08:44] Icedroid commented on #660
@akhilerm Ask for help. we only use device LocalPV, If only upgrade ndm to new version v1.7.2. But openebs keep v1.7.2. will it work?

[2021-12-22 14:21] akhilerm commented on #660
Do you mean keeping NDM version at 1.7.2 and localpv version at 2.12.0? Yes it will work.  Also from your above comments, it was mentioned about using m-apiserver, which is not required to run localpv provisioner.  You can just have localpv provisioner 2.12.0 and NDM 1.7.2.

Also a few more questions before you perform the upgrade:
- are localpv device  PVCs in Block mode or FileSystem mode. Becau

[2021-12-23 11:51] Icedroid commented on #660
Today I upgrade our develop env to NDM 1.7.0 and localpv privisioner 3.0.0. I found all host disks dumplicate.
Before I Upgrade, now we focus on 192.168.88.103 node.
![all-bds](https://user-images.githubusercontent.com/674647/147235196-4b1940fa-6c83-4a04-abac-74c1041271c5.png)

 We have a kubevirt virtual machine run in 192.168.88.103 node and mount the node device /dev/sda /dev/sdb for Block mode

[2021-12-23 12:02] Icedroid commented on #660
@akhilerm  I have a idea. If I make it PR for implement lke this, could be meet my needs:
* Before BD UUID be generated, I get all bd list to checkout if already have same WWN in the node. If exists, I use old BD UUID. If not exists, generate the new BD UUID.

[2021-12-27 04:18] akhilerm commented on #660
Unfortunately we do not support upgrade for local PV using BlockMode, from old UUID to the new GPTScheme,

@Icedroid [This](https://github.com/openebs/openebs/blob/main/contribute/design/1.x/ndm/20190705-ndm-disk-identification.md) is the design that we followed for generating the UUID.

There are some issues with this approach:
- What if there are more than 2 disks, which have this issue. The fir

[2021-12-27 07:18] Icedroid commented on #660
@akhilerm For physical disk unique WWN and model assigned by the manufacturer. So attaching to a different machine or a different SCSI port of the same machine or different node all keep same. For us, we only use bd for pyhical disk.

I compare WWN for 2 disk , not use bd UUID1 and UUID2. Cloud change md5 hash to uuid algorithm?

physical disk has unique WWN.

[2021-12-28 06:27] Icedroid commented on #660
@akhilerm The new version of NDM not support NVME disk scan for BlockDevice ? If fail log :
[code]

[2021-12-28 06:30] akhilerm commented on #660
It does support @Icedroid . its an issue with SMART not able to detect some NVMe details. It can be ignored.

[2022-01-17 08:20] #638 closed

[2022-03-02 07:01] akhilerm commented on #656
@Icedroid Are there any updates on this issue?

[2022-03-02 07:09] akhilerm commented on #204
Closing as we now bind mount the `/dev` directory

[2022-03-03 02:16] Icedroid commented on #656
@akhilerm no. Thanks. You can close the issus.

[2022-03-03 04:30] cospotato opened #669 "Panic on NVMe multipath environment"
**What steps did you take and what happened:**

The node-disk-manager panic on environment with NVMe multipath enabled.

**What did you expect to happen:**

Run correctly

**The output of the following commands will help us better understand what's going on**:
[Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.]

* `kubectl get pods -n openebs`
* `kubectl

[2022-03-03 05:49] akhilerm commented on #656
Were you able to migrate to using the GPTBasedUUID?

[2022-03-03 13:37] Swastyy commented on #622
Hi @kmova , @akhilerm is this issue still up? If y then I want to take it.

[2022-03-03 13:44] akhilerm commented on #622
yes @Swastyy I will assign it to you.

[2022-03-04 01:15] Icedroid commented on #656
We  only use bd to be  raw disk in a virtual machine. So we can't use GPTBasedUUID feature.  In this situation we change to this:
https://github.com/EdgeCloudX/node-disk-manager/pull/3

[2022-03-04 05:39] akhilerm commented on #656
Ok . I think I understand the issue solved in the EdgeCloud fork. But I have a doubt: What will happen if you want to move a disk that is already in use (with no WWN) to another node in the same cluster?

[2022-03-04 05:43] akhilerm commented on #669
@cospotato We have never tested on nodes which uses nvme multipath devices. But this issue seems like udev is not reporting the devname for the device.

Also, as per my understanding NVMe devices follow a naming format of `nvme<controller_num>n<namespace_num>`, But the devices in the above given example are using a different format `nvme3c3n1`.

Can you provide details of the cluster / node and th

[2022-03-04 07:51] cospotato commented on #669
@akhilerm The node OS is AliOS which is modified by Alibaba group from CentOS 7. The NVMe device on it is the "Local Disk" product of AliCloud. I googled the  naming format. Then I get this [page](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/managing_storage_devices/enabling-multipathing-on-nvme-devices_managing-storage-devices).

[2022-03-12 02:48] Icedroid commented on #656
If the disk is mounted by a kubevirt vm, can't be moved to another. So the disk move to another node, we hope to regenerate a new bd.

[2022-03-14 13:05] akhilerm commented on #656
ok. in that case its good. Thanks @Icedroid

[2022-03-14 13:05] #656 closed, assigned to nobody

[2022-03-23 04:44] akhilerm commented on #622
Hi  @Swastyy , are there any updates on this issue.?

[2022-05-10 07:22] maltegrosse opened #672 "Docs: How to graceful delete NDM"
**Describe the problem/challenge you have**
I could not find any documentation about uninstalling ndm

**Describe the solution you'd like**
openebs provides uninstall documentation, but for ndm it is missing.

[2022-06-21 17:00] adamoswick opened #673 "Loop during device probing causing high CPU"
**What steps did you take and what happened:**
When an unsupported device type is probed for data (e.g. smart), NDM seems to loop continuously, retrying without any delay.

This leads to NDM using an entire CPU core all the time. Once the 'unsupported device' (in this case `/dev/vdb`) is removed from the include filter and the pod is restarted, CPU usage returns to normal.

**What did you expect t

[2022-06-22 07:16] vchrisb commented on #673
I do have the same issue. For me it was the newish `/dev/zram` devices.

[2022-07-06 11:15] magnetised opened #674 "NDM looping constantly causing high cpu usage with `Error: unreachable state`"
**What steps did you take and what happened:**
I've just installed openebs as part of k0s on an aws ec2 instance with 2 disks, the host disk and a separate ebs data partition. Everything seems to be working fine but one of the ndm pods is at a constant 20% cpu usage. looking at the logs it seems to be in some loop querying the host/node disks

Looking at another server with the same ndm version bu

[2022-07-08 16:04] dborman-hpe opened #675 "NVME mount points not being recognized on OpenSUSE 15.3"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and the sequence of operations performed / commands you ran.]
I have NVME disks, and they are not being detected properly for filtering out mount points.  The issue is in the
`getParentBlockDevice()` routine at [getParentBlockDevice](https://github.com/openebs/node-disk-manager/blob/develop/pkg/moun

[2022-08-26 04:23] #675 closed, assigned to nobody